<!-- ============ AddFandom Modal ============-->
<div class="modal fade" id="fandomModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Add Fandom</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label class="control-label required" for="nameField">Fandom Name</label>
                    <input type="text" class="form-control" id="fandomField" placeholder="Digimon, Sailor Moon, etc..."/>
                </div>
            </div>
            <div class="modal-footer">
                <a class="btn btn-custom-blue" data-dismiss="modal">Cancel</a>
                <a class="btn btn-custom-blue" onclick="makeFandom()" id="fandomSubmit">Submit</a>
            </div>
        </div>
    </div>
</div>

<!-- ============ AddKind Modal ============-->
<div class="modal fade" id="kindModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Add Kind</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label class="control-label required" for="kindField">Kind</label>
                    <input type="text" class="form-control" id="kindField" placeholder="Print, button, charm, etc..."/>
                </div>
            </div>
            <div class="modal-footer">
                <a class="btn btn-custom-blue" data-dismiss="modal">Cancel</a>
                <a class="btn btn-custom-blue" onclick="makeKind()" id="kindSubmit">Submit</a>
            </div>
        </div>
    </div>
</div>


<!-- ============ Copying Inventories ============ -->

{% if invEvent %}
<!-- ============ Copy Inventory from Event to Main Modal ============-->
<div class="modal fade" id="eventToMainInvCopyModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Copy Inventory from Event</h4>
            </div>
            <div class="modal-body">
                <b class="required">What would you like to do?</b>
                <div class="radio">
                    <label><input type="radio" name="eventToMainOptRadio" value="eventToMainSpill" checked> 
                    Completely overwrite current inventory 
                    <a data-toggle="tooltip" title="Choosing this option completely deletes your current inventory and replaces it with the items in your main inventory."><i class="fa fa-question-circle"></i></a></label>
                </div>
                <div class="radio">
                    <label><input type="radio" name="eventToMainOptRadio" value="eventToMainCopy"> Overwrite same items, keep new ones <a data-toggle="tooltip" title="Choosing this option usually means you've copied over your inventory. It replaces the information of items already copied over without making changes to any new items you may have added to this inventory in particular."><i class="fa fa-question-circle"></i></a></label>
                </div>
                <br/>
                <br/>
                <div class="form-group">
                    <label for="event-list" class="required">Select Event:</label>
                    <span>
                        <select class="form-control" id="eventToMainEventList">
                        {% for event in currUser.events.all %}
                            <option value="{{event.ID}}">{{event.convention}} {{event}}</option>
                        {% endfor %}
                        </select>
                    </span>
                </div>
            </div>
            <div class="modal-footer">
                <a class="btn btn-custom-blue" data-dismiss="modal">Cancel</a>
                <a class="btn btn-custom-blue" onclick="copyInventory()">Submit</a>
            </div>
        </div>
    </div>
</div>
{% else %}
<!-- ============ Copy Inventory from Main to Event Modal ============ -->
<div class="modal fade" id="mainToEventInvCopyModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Copy Inventory from Main</h4>
            </div>
            <div class="modal-body">
                <b class="required">What would you like to do?</b>
                <div class="radio">
                    <label><input type="radio" name="mainToEventOptRadio" value="mainToEventSpill" checked> 
                    Completely overwrite current inventory 
                    <a data-toggle="tooltip" title="Choosing this option completely deletes your current inventory and replaces it with the items in your main inventory."><i class="fa fa-question-circle"></i></a></label>
                </div>
                <div class="radio">
                    <label><input type="radio" name="mainToEventOptRadio" value="mainToEventCopy"> Overwrite same items, keep new ones <a data-toggle="tooltip" title="Choosing this option usually means you've copied over your inventory. It replaces the information of items already copied over without making changes to any new items you may have added to this inventory in particular."><i class="fa fa-question-circle"></i></a></label>
                </div>
            </div>
            <div class="modal-footer">
                <a class="btn btn-custom-blue" data-dismiss="modal">Cancel</a>
                <a class="btn btn-custom-blue" onclick="copyInventory()">Submit</a>
            </div>
        </div>
    </div>
</div>
{% endif %}