<div class="sidebar-wrapper border-wrapper">
    <div class="containery">
        <div class="centery">
            <a href="/">
                {% if currUser.image %}
                    <img src="{{currUser.image}}" class="user-icon-large">
                {% else %}
                    <img src="/static/images/icon-default.png" class="user-icon-large">
                {% endif %}
                <br/>{{currUser}}
            </a>
        </div>
    </div>
    <ul class="nav nav-sidebar">
        <br/>
        {% include "includes/links.html" %}
    </ul>
</div>