{% extends "includes/helper.html" %}

{% block head %}
    <title>Artistally, Oops!</title>
{% endblock %}

{% block body %}
    We can't find the page you're looking for.
    We can't find the page you're looking for.
    We can't find the page you're looking for.
    We can't find the page you're looking for.
    We can't find the page you're looking for.
    We can't find the page you're looking for.
    We can't find the page you're looking for.
    We can't find the page you're looking for.
    We can't find the page you're looking for.
    We can't find the page you're looking for.
    We can't find the page you're looking for.
    We can't find the page you're looking for.
    We can't find the page you're looking for.
    We can't find the page you're looking for.
    We can't find the page you're looking for.
    We can't find the page you're looking for.
    We can't find the page you're looking for.
    We can't find the page you're looking for.
    We can't find the page you're looking for.
    We can't find the page you're looking for.
    We can't find the page you're looking for.
    We can't find the page you're looking for.
    We can't find the page you're looking for.
    We can't find the page you're looking for.
    We can't find the page you're looking for.
    We can't find the page you're looking for.
{% endblock %}
