{% extends "includes/helper.html" %}

{% block head %}
    <title>ArtisTally | About</title>
{% endblock %}

{% block body %}
    <div class="container">
        <div class="my-section-wrapper border-wrapper">
            <h1 class="title-wrapper">About Us</h1>
            ArtisTally was created by <a href="http://katherinexu.me">Katherine Xu</a> and Ronald Ouyang. 
            <br/>
            Special thanks to Joe Pallon for going out of his way to take some beautiful stock photos for us.
            <br/>
            If you have any questions, feel free to contact Katherine at k.zhiyuan.xu&#9733;gmail.com &#9733; &rarr; @
        </div>
    </div>
{% endblock %}