{% extends "includes/helper.html" %}

{% block head %}
    <title>ArtisTally | About</title>
{% endblock %}

{% block body %}
    <div class="container">
        <div class="section-wrapper border-wrapper">
            <h1 class="title-wrapper">About Us</h1>
            <div class="row">
                <div class="col-sm-6 text-center">
                    <img src="/static/images/kat.png" class="user-icon-xl">
                    <h3><a href="http://katherinexu.me">Katherine Xu</a></h3>
                    <div class="about-wrapper text-center">
                        Spends free time drawing, learning and dreaming of making beautiful things.
                    </div>
                </div>
                <div class="col-sm-6 text-center">
                    <img src="/static/images/ronald.png" class="user-icon-xl">
                    <h3><a href="https://repaxan.com">Ronald Ouyang</a></h3>
                    <div class="about-wrapper text-center">
                        Aspires to be a cheese bun. Don't forget to add something witty later.
                    </div>
                </div>
            </div>
        </div>
        <div class="section-wrapper border-wrapper">
            <h1 class="title-wrapper">Special Thanks</h1>
            Special thanks to Joe Pallon for going out of his way to take some beautiful stock photos for us.
        </div>
    </div>
{% endblock %}