{% extends "includes/helper.html" %}

{% block head %}
    <title>Artistally Create Convention</title>
    <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script>
        $(function() {
            $(".convention-field").keydown(function(event) {
                if (event.keyCode == 13) {
                    $("#submitButton").click();
                 }
            });
        });
        
        function isURL(str) {
            if(str.substring(0, 7) == 'http://' || str.substring(0, 8) == 'https://') {
                return true;
            } else {
                return false;
            }
        }
        
        function makeConvention() {
            $("#submitButton").attr("disabled", true);
            var jsonDict = new Object();
            jsonDict.name = $("#nameField").val();
            jsonDict.website = $("#websiteField").val();
            jsonDict.image = $("#imageField").val();
            
            if (!isURL(jsonDict.website)) { jsonDict.website = 'http://' + jsonDict.website }
            
            $.ajax({
                url: "/api/convention/newConvention",
                type: "POST",
                contentType: "application/json",
                data: JSON.stringify(jsonDict),
                success: function(response) {
                    window.location.href = "/convention/" + response.conID;
                },
                error: function(response) {
                    try {
                        alert("Could not add new convention! \n Error - " + JSON.parse(response.responseText).error);
                    } catch (e) {
                        alert("Could not add new convention! An unknown error has occurred.");
                    }
                    $("#submitButton").attr("disabled", false);
                },
            });
        }
    </script>
{% endblock %}

{% block body %}
    <div class="container">
        <div class="form-wrapper border-wrapper">
            <h1 class="text-center">Add New Convention</h1>
            <p class="text-center">Please enter convention info.
                <br/>We will review and approve your information as soon as possible.</p>
            <br/>
            <br/>
            <div class="form-group">
                <label for="nameField" class="required">Convention Name</label>
                <div class="input-group input-group-lg">
                    <span class="input-group-addon" id="name-addon"><i class="fa fa-building fa-fw"></i></span>
                    <input type="text" class="form-control convention-field" id="nameField" placeholder="Name" aria-describedby="name-addon"/>
                </div>
            </div>
            <br/>
            <div class="form-group">
                <label for="websiteField" class="required">Website</label>
                <div class="input-group input-group-lg">
                    <span class="input-group-addon" id="website-addon"><i class="fa fa-link fa-fw"></i></span>
                    <input type="url" class="form-control convention-field" id="websiteField" placeholder="http://www.artistal.ly" aria-describedby="website-addon"/>
                </div>
            </div>
            <br/>
            <div class="form-group">
                <label for="imageField">Banner Image URL</label>
                <div class="input-group input-group-lg">
                    <span class="input-group-addon" id="image-addon"><i class="fa fa-link fa-fw"></i></span>
                    <input type="url" class="form-control convention-field" id="imageField" placeholder="Banner image" aria-describedby="image-addon"/>
                </div>
            </div>
            <br/>

            <br/>
            <sub class="required text-center">Required</sub>
            <br/>
            <p class="text-center"><a onclick="makeConvention()" id="submitButton" class="btn btn-custom-blue">Submit</a></p>
        </div>
    </div>
{% endblock %}
