{% extends "includes/helper.html" %}

{% block head %}
    <title>Artistally Create Item Kind</title>
    <script>
        $(document).ready(function() {
            KEYUP = function(event) {
                if (event.keyCode == 13) {
                    $("#submitButton").click();
                }
            }
            $("#nameField").keyup(KEYUP);
        });
        
        function makeKind() {
            $("#nameField").unbind("keyup", KEYUP);
            $("#submitButton").attr("disabled", true);
            var jsonDict = new Object();
            jsonDict.name = $("#nameField").val();
            $.ajax({
                url: "/api/kind/newKind",
                type: "POST",
                contentType: "application/json",
                data: JSON.stringify(jsonDict),
                success: function(response) {
                    window.location.href = "/additem";
                },
                error: function(response) {
                    alert("newKind went wrong");
                    $("#submitButton").attr("disabled", false);
                    setTimeout(function() {
                        $("#nameField").keyup(KEYUP);
                    }, 222);
                },
            });
        }
    </script>
{% endblock %}

{% block body %}
    <input type="text" id="nameField" placeholder="item kind name"/>
    <br/>
    <button onclick="makeKind()" id="submitButton">Submit</button>
{% endblock %}
