{% extends "includes/helper.html" %}

{% block head %}
    <title>Artistally Create Writeup</title>
    <script>
        function makeWriteup() {
            var jsonDict = new Object();
            jsonDict.rating = $("#ratingField").val();
            jsonDict.conID = $("#conIDField").val();
            jsonDict.review = $("#reviewField").val();
            $.ajax({
                url: "/api/writeup/newWriteup",
                type: "POST",
                contentType: "application/json",
                data: JSON.stringify(jsonDict),
                success: function(response) {
                    window.location.href = "/writeup/" + response.writeupID;
                },
                error: function(response) {
                    alert('Could not create new review! \n Error - ' + JSON.parse(response.responseText).error);
                },
            });
        }
    </script>
{% endblock %}

{% block body %}

<div class="container">
    <div class="jumbotron-convention">
    </div>
    <div class="con-header">
        <div class="cell main-info">
            <h2>{{convention}}</h2>
            {{convention.location}} | {{convention.startDate}} - {{convention.endDate}} | <a href="{{convention.website}}">{{convention.website}}</a>
        </div>
        {% if currUser %}
        <div class="cell text-center">
            <div class="containery">
                <div class="centery">
                    {% if currUserConWriteup %}
    <!--                <a href="/writeup/{{currUserConWriteup.ID}}">View or edit your writeup!</a>-->
                    <button onclick="#" class="btn btn-custom-blue">Edit Review</button>
                    {% else %}
                    <button onclick="#add-review" class="btn btn-custom-blue">Add Review</button>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endif %}
        <div class="cell text-center">
            <div class="containery">
                <div class="centery">
                    <div class="star-ratings-outer"><span id="average-rating" class="star-ratings-inner" style="width:0%"></span></div>
                    {{convention.writeups.count}} review{{convention.writeups.count|pluralize}}
                </div>
            </div>
        </div>
    </div>

    Pick your convention <a href="/addconvention">(not here?)</a>
    <select id="conIDField">
        {% for con in cons %}   <!-- change to not include con where already you made a writeup -->
            <option value="{{con.ID}}" {% if currCon and con.ID == currCon.ID %} selected {% endif %}>{{con}}</option>
        {% endfor %}
    </select>
    <br/>
    <input type="number" min="0" max="5" id="ratingField" placeholder="how many stars 0-5?"/>
    <br/>
    Misc costs (travel etc) <input type="number" min="0" step="0.01" id="miscCostsField" placeholder="0.01"/>
    <br/>
    <textarea rows="5" id="reviewField" placeholder="review goes here"></textarea>
    <br/>
    <a onclick="makeMiscCost(); makeWriteup()" href="#">Submit</a>
</div>
{% endblock %}
