{% extends "includes/helper.html" %}

{% block head %}
    <title>Artistally Confirm Email</title>
    <script>
        $(function() {
            $("#tokenField").keydown(function(event) {
                if (event.keyCode == 13) {
                    $("#tokenButton").click();
                 }
            });
        });

        function resend() {
            var jsonDict = new Object();
            $.ajax({
                url: "/api/user/resendConfirmEmail",
                type: "POST",
                contentType: "application/json",
                data: JSON.stringify(jsonDict),
                success: function(response) {
                    console.log("resend()");
                },
                error: function(response) {
                    try {
                        alert("Confirm resend failed! \n Error - " + JSON.parse(response.responseText).error);
                    } catch (e) {
                        alert("Confirm resend failed! An unknown error has occurred.");
                    }
                },
            });
        }

        function checkToken() {
            $("#tokenButton").attr("disabled", true);
            var jsonDict = new Object();
            jsonDict.token = $("#tokenField").val();
            $.ajax({
                url: "/api/user/checkConfirmToken",
                type: "POST",
                contentType: "application/json",
                data: JSON.stringify(jsonDict),
                success: function(response) {
                    window.location.href = "/";
                },
                error: function(response) {
                    try {
                        alert("Confirm token check failed! \n Error - " + JSON.parse(response.responseText).error);
                    } catch (e) {
                        alert("Confirm token check failed! An unknown error has occurred.");
                    }
                    $("#tokenButton").attr("disabled", false);
                },
            });
        }
    </script>
{% endblock %}

{% block body %}
    <div class="form-wrapper reg-form-wrapper border-wrapper">
        <h3 class="text-center">Confirm your email</h3>
        <br/>
        <div class="form-group text-center">
            <label for="tokenField">Confirm Token:</label>
            <div class="input-group input-group-lg">
                <span class="input-group-addon" id="tokenField-addon"><i class="fa fa-dot-circle-o fa-fw"></i></span>
                <input type="text" class="form-control" spellcheck=false id="tokenField"/>
            </div>
        </div>
        <br/>
        <p class="text-center">
            <a onclick="checkToken()" id="tokenButton" class="btn btn-custom-blue">Submit</a>
            <br/>
            <br/>
            <br/>
            Didn't receive an email?
            <br/><a href="#" onclick="resend()">Click here to resend it to {{user.email}}.</a>
            <br/>
        </p>
    </div>


{% endblock %}
