{% extends "includes/helper.html" %}

{% block head %}
    <title>Artistally | {{convention}} Info Page</title>
    <script>
        var colors = new Array("#F7464A", "#46BFBD", "#FDB45C", "#949FB1", "#4D5360");
        var highlights = new Array("#FF5A5E", "#5AD3D1", "#FFC870", "#A8B3C5", "#616774");
        
        $(function() {
            {% if convention.image %}
                $(".jumbotron-convention").css("background-image", "url({{convention.image}})");
            {% endif %}

            {% if topKinds and topFandoms %}
                Chart.defaults.global.responsive = true;
                setKindsChart();
                setFandomsChart();
                setProfitsChart();
            {% endif %}
            
            toggleWriteups($("#writeup-selection").val());
            {% if currUser %}
                hasAlreadyReviewed();
            {% endif %}
        });
        
        function toggleWriteups(eventID) {
            console.log("toggling writeups");
            $(".writeup-group").hide();
            $("#" + eventID + "-writeups").show();
            $("#reviewEventName").text($("#writeup-selection option[value='" + eventID +"']").text());
        }

        function setKindsChart() {
            var kindsData = [
                {% for kind in topKinds|slice:":5" %}
                    {
                        value: {% widthratio kind.1 1 100 %},
                        color: colors[{{forloop.counter0}}],
                        highlight: highlights[{{forloop.counter0}}],
                        label: "{{kind.0}}"
                    },
                {% endfor %}
            ]
            var kindsOptions = { 
                responsive : false,
                animation: false,
                tooltipTemplate: {% verbatim %} "\<%if (label){%><%=label%>: <%}%><%= value %>%" {% endverbatim %},
                segmentStrokeColor : "#f9f9f9"
            }

            var kindsCanvas = $("#kindsChart")[0].getContext("2d");
            var kindsChart = new Chart(kindsCanvas).Doughnut(kindsData, kindsOptions);

            var helpers = Chart.helpers;
            var legendHolder = $("#kindsLegend")[0];
                legendHolder.innerHTML = kindsChart.generateLegend();
                // Include a html legend template after the module doughnut itself
                helpers.each(legendHolder.firstChild.childNodes, function(legendNode, index){
                    helpers.addEvent(legendNode, 'mouseover', function(){
                        var activeSegment = kindsChart.segments[index];
                      activeSegment.save();
                      activeSegment.fillColor = activeSegment.highlightColor;
                      kindsChart.showTooltip([activeSegment]);
                      activeSegment.restore();
                  });
              });
              helpers.addEvent(legendHolder.firstChild, 'mouseout', function(){
                  kindsChart.draw();
              });
              $("#kindsChart")[0].parentNode.parentNode.appendChild(legendHolder.firstChild);

              kindsChart.generateLegend();
              $("#kindsLegend").innerHTML = kindsChart.generateLegend();
        }
            
        function setFandomsChart() {
            var fandomsData = [
                    {% for fandom in topFandoms|slice:":5" %}
                        {
                            value: {% widthratio fandom.1 1 100 %},
                            color: colors[{{forloop.counter0}}],
                            highlight: highlights[{{forloop.counter0}}],
                            label: "{{fandom.0}}"
                        },
                    {% endfor %}
                ]
                var fandomsOptions = { 
                    responsive : false,
                    animation: false,
                    tooltipTemplate: {% verbatim %} "\<%if (label){%><%=label%>: <%}%><%= value %>%" {% endverbatim %},
                    segmentStrokeColor : "#f9f9f9"
                }

                var fandomsCanvas = $("#fandomsChart")[0].getContext("2d");
                var fandomsChart = new Chart(fandomsCanvas).Doughnut(fandomsData, fandomsOptions);

                var helpers = Chart.helpers;
                var legendHolder = $("#fandomsLegend")[0];
                    legendHolder.innerHTML = fandomsChart.generateLegend();
                    // Include a html legend template after the module doughnut itself
                    helpers.each(legendHolder.firstChild.childNodes, function(legendNode, index){
                        helpers.addEvent(legendNode, 'mouseover', function(){
                            var activeSegment = fandomsChart.segments[index];
                          activeSegment.save();
                          activeSegment.fillColor = activeSegment.highlightColor;
                          fandomsChart.showTooltip([activeSegment]);
                          activeSegment.restore();
                      });
                  });
                  helpers.addEvent(legendHolder.firstChild, 'mouseout', function(){
                      fandomsChart.draw();
                  });
                  $("#fandomsChart")[0].parentNode.parentNode.appendChild(legendHolder.firstChild);

                  fandomsChart.generateLegend();
                  $("#fandomsLegend").innerHTML = fandomsChart.generateLegend();
        }
        
        function setProfitsChart() {
            var data = {
                labels: [{% for bin in profitBins%} {{bin}},{% endfor %}],
                datasets: [
                    {
                        label: "Profit Distribution",
                        fillColor: "rgba(151,187,205,0.5)",
                        strokeColor: "rgba(151,187,205,0.8)",
                        highlightFill: "rgba(151,187,205,0.75)",
                        highlightStroke: "rgba(151,187,205,1)",
                        data: [{% for profit in profitCounts %} {{profit}},{% endfor %}]
                    }
                ]
            };
            var profitsOptions = {
                responsive: true
            };
            var profitsCanvas = $("#profitsChart")[0].getContext("2d");
            var profitsBarChart = new Chart(profitsCanvas).Bar(data, profitsOptions);
        }
             
        {% if currUser %}
            function makeWriteup() {
                var jsonDict = new Object();
                jsonDict.rating = $('input[name="ratingField"]:checked').val();
                if (!jsonDict.rating) {
                    alert("Please select a rating!");
                } else {
                    jsonDict.eventID = $("#event-list").val();
                    jsonDict.review = $("#reviewField").val();
                    $.ajax({
                        url: "/api/writeup/newWriteup",
                        type: "POST",
                        contentType: "application/json",
                        data: JSON.stringify(jsonDict),
                        success: function(response) {
                            console.log("asdf");
                            location.reload();
                        },
                        error: function(response) {
                            try {
                                alert("Could not add new review! \n Error - " + JSON.parse(response.responseText).error);
                            } catch (e) {
                                alert("Could not add new review! An unknown error has occurred.");
                            }
                        },
                    });
                }
            }
         
            function deleteWriteup(writeupID) {
                if (confirm("Are you sure you want to delete this?")) {
                    var jsonDict = new Object();
                    jsonDict.writeupID = writeupID;
                    $.ajax({
                        url: "/api/writeup/deleteWriteup",
                        type: "POST",
                        contentType: "application/json",
                        data: JSON.stringify(jsonDict),
                        success: function(response) {
                            location.reload();
                        },
                        error: function(response) {
                            try {
                                alert("Could not delete review! \n Error - " + JSON.parse(response.responseText).error);
                            } catch (e) {
                                alert("Could not delete review! An unknown error has occurred.");
                            }
                        },
                    });
                }
            }
         
            var alreadyReviewedList = [];
            {% if eventsWithUserWriteups %}
                {% for eventID, writeupID in eventsWithUserWriteups.items %}
                    alreadyReviewedList[{{eventID}}] = {{writeupID}};
                {% endfor %}
            {% endif %}
                
            function hasAlreadyReviewed() {
                var eventID = $("#event-list").val()
                if (alreadyReviewedList[eventID]) {
                    var selectedEvent = $("#event-list option:selected").text();
                    $("#reviewWarning").html("You currently have a review written for " + selectedEvent + "! <br/> Edit it <a href='/writeup/" + alreadyReviewedList[eventID] + "'>here</a>.");
                    $("#reviewWarning").show();
                    $(".editable-review-element").hide();
                } else {
                    $("#reviewWarning").hide();
                    $(".editable-review-element").show();   
                }
            };
         
            function setFavorite(eventID) {
                var jsonDict = new Object();
                jsonDict.eventID = eventID;
                var ajaxObj = $.ajax({
                    url: "/api/event/setUser",
                    type: "POST",
                    contentType: "application/json",
                    data: JSON.stringify(jsonDict),
                    success: function(response) {
                        $("#fav-" + eventID).html('<a onclick="unsetFavorite(' + eventID + ')">Remove</a>');
                    },
                    error: function(response) {
                        try {
                            alert("Could not add to your conventions! \n Error - " + JSON.parse(response.responseText).error);
                        } catch (e) {
                            alert("Could not add to your conventions! An unknown error has occurred.");
                        }
                    },
                });
            }

            function unsetFavorite(eventID) {
                var jsonDict = new Object();
                jsonDict.eventID = eventID;
                var ajaxObj = $.ajax({
                    url: "/api/event/unsetUser",
                    type: "POST",
                    contentType: "application/json",
                    data: JSON.stringify(jsonDict),
                    success: function(response) {
                        $("#fav-" + eventID).html('<a onclick="setFavorite(' + eventID + ')">Add</a>');
                    },
                    error: function(response) {
                        try {
                            alert("Could not remove from your conventions! \n Error - " + JSON.parse(response.responseText).error);
                        } catch (e) {
                            alert("Could not remove from your conventions! An unknown error has occurred.");
                        }
                    },
                });
            }
        {% endif %}
    </script>
{% endblock %}

{% block body %}
<div class="container">
    <div class="jumbotron-convention"></div>
    <div class="con-header">
        <div class="main-info">
            <h1>{{convention}}</h1>
            <a href="{{convention.website}}">{{convention.website}}</a>
        </div>
        
        {% if currUser %}
            <div class="cell text-center">
                <div class="containery">
                    <div class="centery">
                        {% if currUser %}
<!--                            <span><a href="/editconvention/{{convention.ID}}" class="btn btn-custom-blue">Edit Convention Info</a></span>-->
                        <span><a href="#add-review" class="btn btn-custom-blue">Write Review</a></span>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endif %}
        <div class="cell text-center">
            <div class="containery">
                <div class="centery">
                    <div class="star-ratings-outer"><span id="average-rating" class="star-ratings-inner" style="width:{{convention.avgRating|add:convention.avgRating}}0%"></span></div>
                    {{convention.avgRating}} out of 5
                </div>
            </div>
        </div>
    </div>
<!--
    <div class="section-wrapper border-wrapper">
        <h2 class="title-wrapper">Overview</h2>
        <div class="row">
            <div class="col-sm-3">
                <div class="stat-box text-center">
                    <h3>{{convention.users.count}} ???</h3>
                    artists
                </div>
            </div>
            <div class="col-sm-3">
                <div class="stat-box text-center">
                    <h3>${{convention.avgUserProfit|floatformat:2}}</h3>
                    average profit
                </div>
            </div>
            <div class="col-sm-3">
                <div class="stat-box text-center">
                    <h3>???</h3>
                    ???
                </div>
            </div>
            <div class="col-sm-3">
                <div class="stat-box text-center">
                    <h3>???</h3>
                    ???
                </div>
            </div>
        </div>
    </div>
-->
    
    <div class="section-wrapper border-wrapper">
        <div class="row">
            <div class="col-sm-6">
                <h2 class="title-wrapper">Events</h2>
            </div>
            <div class="col-sm-6">
                <p class="text-right"><a href="/addevent/{{convention.ID}}" class="btn btn-custom-blue">New Event</a></p>
            </div>
        </div>
        
        {% if convention.events.count > 0 %}
        There {{convention.events.count|pluralize:"is,are"}} {{convention.events.count}} recorded event{{ convention.events.count|pluralize}} for {{convention}}. 
        <br/>
        <br/>
        <div class="table-responsive">
            <table class="table table-hover" id="cost-chart">
                <thead>
                    <th>Event Name</th>
                    <th>Location</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                    {% if currUser %}
                        <th>Add to My Events</th>
                        <th>Edit</th>
                    {% endif %}
                </thead>
                <tbody>
                    {% for event in convention.events.all %}
                        <tr>
                            <td>{{convention}} {{event}}</td>
                            <td>{{event.location}}</td>
                            <td>{{event.startDate}}</td>
                            <td>{{event.endDate}}</td>
                            {% if currUser %}
                                <td id="fav-{{event.ID}}">
                                    {% if currUser not in event.users.all %}
                                        <a onclick="setFavorite({{event.ID}})" style="cursor:pointer">Add</a>
                                    {% else %}
                                        <a onclick="unsetFavorite({{event.ID}})" style="cursor:pointer">Remove</a>
                                    {% endif %}
                                </td>
                                <td><a href="/editevent/{{event.ID}}"><i class="fa fa-pencil-square-o" alt="edit"></i></a></td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% else %}
            There are currently no events listed for {{convention}}. <a href="/addevent/{{convention.ID}}">Add a new event here.</a>
        {% endif %}
    </div>
    
    
    
    
    <!-- ========== Analytics ========== -->
    <div class="section-wrapper border-wrapper">
        <h2 class="title-wrapper">Analytics</h2>
        <br/>
        {% if hasConData %}
        <div class="row">
            <div class="col-sm-6">
                <div class="chart-wrapper">
            <h3 class="title-wrapper">Profit Distribution</h3>
            <div class="chart-display">
                <canvas id="profitsChart" height="200"></canvas>
            </div>
        </div>
            </div>
            <div class="col-sm-6">
                <h3 class="title-wrapper">Average Prices</h3>
                <table class="table table-hover">
                    <thead>
                        <th>Merch Kind</th>
                        <th>Price</th>
                    </thead>
                    <tbody>
                        {% for kind, price in votedKinds.all|slice:":2" %}
                        <tr>
                            <td>{{kind}}</td>
                            <td>${{price|floatformat:2}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% if votedKindsMoreThan5 %}
                    <p class="text-right"><a href="#">See all...</a></p>
                {% endif %}
            </div>
            <div class="col-sm-6">
                <div class="chart-wrapper">
                    <h3 class="title-wrapper">Top Merchandise</h3>
                    <div class="chart-display">
                        <canvas id="kindsChart" width="200" height="150"></canvas>
                    </div>
                    <div class="chart-legend" id="kindsLegend"></div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="chart-wrapper">
                    <h3 class="title-wrapper">Top Fandoms</h3>
                    <div class="chart-display">
                        <canvas id="fandomsChart" width="200" height="150"></canvas>
                    </div>
                    <div class="chart-legend" id="fandomsLegend"></div>
                </div>
            </div>
            
            
        </div>
        {% else %}
            Looks like we don't have enough data! Please help by adding your own.
        {% endif %}
    </div>
    
    <!-- ========== Reviews ========== -->
    <div class="section-wrapper border-wrapper">
        <div class="row">
            <h2 class="title-wrapper col-sm-9">Reviews {% if convention.events.count > 0 %}for <span id="reviewEventName"></span>{% endif %}</h2>
            {% if convention.events.count > 0 %}
            <div class="col-sm-3">
                <span>
                    <select class="form-control" id="writeup-selection" onchange="toggleWriteups(this.value)">
        <!--                    <option value="all">All</option>-->
                        {% for event in convention.events.all %}
                            <option value="{{event.ID}}">{{convention}} {{event}}</option>
                        {% endfor %}
                    </select>
                </span>
            </div>
            {% endif %}
        </div>
        
        {% if convention.events.count > 0 %}
            {% for event in convention.events.all %}
                <div id="{{event.ID}}-writeups" class="writeup-group">
                {% for writeup in event.writeups.all|slice:":5" %}
                    <div class="row">
                        <div class="col-sm-2">
                            <a href="/user/{{writeup.user}}">
                            {% if writeup.user.image %}
                                <img src="{{writeup.user.image}}" class="user-icon-large">
                            {% else %}
                                <img src="/static/images/icon-default.png" class="user-icon-large">
                            {% endif %}</a>
                            <br/>
                            <a href="/user/{{writeup.user}}"><b>{{writeup.user}}</b></a>
                            {% if writeup.user == currUser %}
                                <br/>
                                <a href="/writeup/{{writeup.ID}}" class="edit">Edit</a>
                                <a onclick="deleteWriteup({{writeup.ID}})" class="delete">Delete</a>
                            {% endif %}
                        </div>
                        <div class="col-sm-10">
                            <div class="star-ratings-outer"><span id="{{writeup.user}}-rating" class="star-ratings-inner" style="width:{{writeup.rating|add:writeup.rating}}0%"></span></div>
                            <div class="main-entry-text">
                                {{writeup.review|linebreaks}}
                            </div>
                            <small>Entry created: {{writeup.writeTime|date:"M d, Y"}} | Entry last edited: {{writeup.editTime|date:"M d, Y"}} | <a href="/writeup/{{writeup.ID}}">Permalink</a></small>
                            <br/>
                        </div>
                    </div>
                    <br/>
                    <br/>
                {% empty %}
                    No one has reviewed this event yet.
                {% endfor %}
                <hr/>
                <p class="text-center">
                    {% if event.writeups.count > 5 %}
                        Showing 5 out of {{event.writeups.count}} review{{event.writeups.count|pluralize}} in total.
                        <br/><a href="/eventreviews/{{event.ID}}" class="btn btn-custom-blue">Read All Reviews</a>
                    {% else %}
                        Showing {{event.writeups.count}} out of {{event.writeups.count}} review{{event.writeups.count|pluralize}} in total.
                    {% endif %}
                </p>
                </div>
            {% endfor %}
        {% else %}
            There are currently no reviews for this convention!
        {% endif %}
    </div>
    
    {% if convention.events.count > 0 %}
    <div class="section-wrapper border-wrapper" id="add-review">
        <h2 class="title-wrapper">Write Review</h2>
        {% if currUser %}
            <div class="row">
                <div class="col-sm-2">
                    {% if currUser.image %}
                        <a href="/user/{{currUser}}"><img src="{{currUser.image}}" class="user-icon-large"/></a>
                    {% else %}
                        <a href="/user/{{currUser}}"><img src="/static/images/icon-default.png" class="user-icon-large"/></a>
                    {% endif %}
                    <br/>
                    <a href="/user/{{currUser}}">{{currUser}}</a>
                </div>
                <div class="col-sm-10">
                    <div class="row">
                        <div class="form-group col-sm-3 editable-review-element">
                            <label for="star-rating" class="required">Rating:</label>
                            <br/>
                            <span class="star-rating" id ="star-rating">
                                <input type="radio" name="ratingField" value="1"/><i></i>
                                <input type="radio" name="ratingField" value="2"/><i></i>
                                <input type="radio" name="ratingField" value="3"/><i></i>
                                <input type="radio" name="ratingField" value="4"/><i></i>
                                <input type="radio" name="ratingField" value="5"/><i></i>
                            </span>
                        </div>
                        <div class="form-group col-sm-6">
                            <label for="event-list" class="required">Event:</label>
                            <span>
                                <select class="form-control" id="event-list" onchange="hasAlreadyReviewed()">
                                {% for event in convention.events.all %}
                                    <option value="{{event.ID}}">{{convention}} {{event}}</option>
                                {% endfor %}
                                </select>
                            </span>
                        </div>
                    </div>
                    <div id="reviewWarning"></div>
                    <div class="form-group">
                        <textarea class="form-control editable-review-element" rows="6" id="reviewField"></textarea>
                    </div>
                </div>
            </div>
            <p class="text-right"><a onclick="makeWriteup()" class="btn btn-custom-blue editable-review-element">Submit</a></p>
        {% else %}
            <p class="text-center"><a href="/login" class="btn btn-custom-blue">Login</a> or <a href="/signup" class="btn btn-custom-blue">Register</a>
            </p>
        {% endif %}
    </div>
    {% endif %}
    
</div>
{% endblock %}
