{% extends "helper.html" %}

{% block head %}
    <title>ArtisTally | {{convention}} Overview</title>
    {% if currUser %}
        <script>
            function updateConvention() {
                var jsonDict = new Object();
                jsonDict.conID = {{convention.ID}};
                jsonDict.name = $("#nameField").val();
                jsonDict.startDate = $("#startDateField").val();
                jsonDict.endDate = $("#endDateField").val();
                jsonDict.numAttenders = $("#numAttendersField").val();
                jsonDict.location = $("#locationField").val();
                if (jsonDict.name != "{{convention.name}}") {
                    var ajaxObj = $.ajax({
                        url: "/api/convention/setName",
                        type: "POST",
                        contentType: "application/json",
                        data: JSON.stringify(jsonDict),
                        async: false,
                        success: function(response) {
                        },
                        error: function(response) {
                            alert("setName went wrong");
                        },
                    });
                    if (ajaxObj.status != 200) {
                        return false;
                    }
                }
                if (jsonDict.startDate != "{{convention.startDate.isoformat}}") {
                    var ajaxObj = $.ajax({
                        url: "/api/convention/setStartDate",
                        type: "POST",
                        contentType: "application/json",
                        data: JSON.stringify(jsonDict),
                        async: false,
                        success: function(response) {
                        },
                        error: function(response) {
                            alert("setStartDate went wrong");
                        },
                    });
                    if (ajaxObj.status != 200) {
                        return false;
                    }
                }
                if (jsonDict.endDate != "{{convention.endDate.isoformat}}") {
                    var ajaxObj = $.ajax({
                        url: "/api/convention/setEndDate",
                        type: "POST",
                        contentType: "application/json",
                        data: JSON.stringify(jsonDict),
                        async: false,
                        success: function(response) {
                        },
                        error: function(response) {
                            alert("setName went wrong");
                        },
                    });
                    if (ajaxObj.status != 200) {
                        return false;
                    }
                }
                if (jsonDict.numAttenders != {{convention.numAttenders}}) {
                    var ajaxObj = $.ajax({
                        url: "/api/convention/setNumAttenders",
                        type: "POST",
                        contentType: "application/json",
                        data: JSON.stringify(jsonDict),
                        async: false,
                        success: function(response) {
                        },
                        error: function(response) {
                            alert("setNumAttenders went wrong");
                        },
                    });
                    if (ajaxObj.status != 200) {
                        return false;
                    }
                }
                if (jsonDict.location != "{{convention.location}}") {
                    var ajaxObj = $.ajax({
                        url: "/api/convention/setLocation",
                        type: "POST",
                        contentType: "application/json",
                        data: JSON.stringify(jsonDict),
                        async: false,
                        success: function(response) {
                        },
                        error: function(response) {
                            alert("setLocation went wrong");
                        },
                    });
                    if (ajaxObj.status != 200) {
                        return false;
                    }
                }
                window.location.reload(true);
            }
            
        function makeWriteup() {
            var jsonDict = new Object();
            jsonDict.rating = $("#ratingField").val();
            jsonDict.conID = $("#conIDField").val();
            jsonDict.review = $("#reviewField").val();
            jsonDict.miscCosts = $("#miscCostsField").val();
            $.ajax({
                url: "/api/writeup/newWriteup",
                type: "POST",
                contentType: "application/json",
                data: JSON.stringify(jsonDict),
                success: function(response) {
                    window.location.href = "/writeup/" + response.writeupID;
                },
                error: function(response) {
                    alert("newWriteup went wrong");
                },
            });
        }
        </script>
    {% endif %}
{% endblock %}

{% block body %}
<div class="jumbotron">
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-3">
            <h1>{{convention.name}}</h1>
            {{convention.location}} <br>
            <a href="#">website.com</a>
        </div>
        <div class="col-sm-1 col-sm-offset-7">
            NUMBER reviews
        </div>
        <div class="col-sm-1">
            <button onclick="#" id="loginButton" class="btn btn-custom-blue">Add Review</button>
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-3"><h3>Overview</h1></div>
        <div class="col-md-3">Drop down menu to select year</div>
    </div>
    <div class="row">
        graphs and stuff
    </div>
    <div>
    A total of {{convention.numAttenders}} attendees were at Fanime 2014. On average, each artist makes a total of $MONEYS.
        <br/>
        <br/>
    Top 3 most popular merchandise items sold:
        <br/>1. Keychains (20%)
        <br/>2. Buttons (14%)
        <br/>3. Prints (8%)
    Top 3 most popular fandoms for merchandise:
        <br/>1. Naruto (15%)
        <br/>2. Bleach (10%)
        <br/>3. One Piece (4%)
    </div>
    
    <h3>Reviews</h3>
    
    {% if convention.avgRating == None %}
        No one has rated this convention yet. Be the first?
    
    {% else %}
        <div class="row">
            <div class="col-sm-2">
                <img src="/static/images/icon-default.png" class="user-icon-large">
                <br/>Username
            </div>
            <div class="col-sm-10">
                5/5 stars on DATE
                <br/>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla pharetra, nisi vitae sagittis viverra, justo lorem fermentum enim, feugiat dapibus metus diam vel lorem. Duis in ornare orci. Duis nibh lacus, dignissim a luctus quis, posuere congue est. Donec magna tellus, faucibus ac diam nec, iaculis porta turpis. Aliquam tincidunt non felis sed rhoncus. Proin interdum sit amet nisi nec tempus. Pellentesque varius, nisl ac aliquet placerat, neque nunc tristique mauris, a luctus tellus nisi ac ipsum. Duis condimentum et tortor nec egestas. Nullam felis mauris, efficitur eget iaculis sed, molestie eget felis.
            </div>
        </div>
        <br/>
        Read more...
    

{% endif %}

    {% if currUser %}
    <h3>Write Review</h3>
    <div class="row">
        <div class="col-sm-2">
            <img src="/static/images/icon-default.png" class="user-icon-large">
            <br/>{{currUser}}
        </div>
        <div class="col-sm-10">
            Pick stars
            <br/>
            <textarea rows="5" id="reviewField"></textarea>
        </div>
    </div>
    <button onclick="makeWriteup()" class="btn btn-custom-blue" href="#">Submit</button>

</div>
<br/>


        {% for writeup in currUser.writeups|for_convention:convention %}
            <a href="/writeup/{{writeup.ID}}">View or edit your writeup!</a>
        {% empty %}
            <a href="/addwriteup/{{convention.ID}}">Submit a writeup!</a>
        {% endfor %}
        <br/>
        <br/>
        {% for item in currUser.items|for_convention:convention %}
            <a href="/item/{{item.ID}}">Your item {{item}}</a>
            <br/>
        {% endfor %}
        <a href="/additem/{{convention.ID}}">Add an Item!</a>
    {% else %}
        {{convention.name}}'s Page
        <br/>
        {{convention.numAttenders}} attenders
        <br/>
        located at {{convention.location}}
        <br/>
        starts/started on {{convention.startDate}}
        <br/>
        ends/ended on {{convention.endDate}}
    {% endif %}
    <br/>
    {% if convention.avgRating == None %}
        No one has rated this convention yet
    {% else %}
        Convention average rating {{convention.avgRating}} stars
    {% endif %}
{% endblock %}
