{% extends "includes/helper.html" %}

{% block head %}
    <title>ArtisTally | {{event.convention}} {{event}} Reviews</title>
    <script>
        $(function() {
            {% if event.avgRating != None %}
                setStars();
            {% endif %}
            
            {% if event.image %}
                $(".jumbotron-convention").css("background-image", "url({{event.image}})");
            {% endif %}
        });
             
        function setStars() {
            var rating = {{event.avgRating}};
            var percent = (rating/5)*100;
            $("#average-rating").width(percent + "%");
        }
             
        {% if currUser %}
            function makeWriteup() {
                var jsonDict = new Object();
                jsonDict.rating = $('input[name="ratingField"]:checked').val();
                if (!jsonDict.rating) {
                    alert("Please select a rating!");
                } else {
                    jsonDict.eventID = {{event.ID}};
                    jsonDict.review = $("#reviewField").val();
                    $.ajax({
                        url: "/api/writeup/newWriteup",
                        type: "POST",
                        contentType: "application/json",
                        data: JSON.stringify(jsonDict),
                        success: function(response) {
                            console.log("asdf");
                            location.reload();
                        },
                        error: function(response) {
                            try {
                                alert("Could not add new review! \n Error - " + JSON.parse(response.responseText).error);
                            } catch (e) {
                                alert("Could not add new review! An unknown error has occurred.");
                            }
                        },
                    });
                }
            }
        {% endif %}
    </script>
{% endblock %}

{% block body %}
    <div class="container">
        <div class="jumbotron-convention">
        </div>
        <div class="con-header">
            <div class="main-info">
                <h2>{{event.convention}} {{event}}</h2>
                {{event.location}} | {{event.startDate}} - {{event.endDate}}</a>
            </div>
            {% if currUser %}
                <div class="cell text-center">
                    <div class="containery">
                        <div class="centery">
                            {% if currUserEventWriteup %}
                                <a href="/writeup/{{currUserEventWriteup.ID}}" class="btn btn-custom-blue">Edit Review</a>
                            {% else %}
                                <a href="#add-review" class="btn btn-custom-blue">Add Review</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endif %}
            <div class="cell text-center">
                <div class="containery">
                    <div class="centery">
                        <div class="star-ratings-outer"><span id="average-rating" class="star-ratings-inner" style="width:0%"></span></div>
                        {{event.writeups.count}} review{{event.writeups.count|pluralize}}
                    </div>
                </div>
            </div>
        </div>
        
        <div class="section-wrapper border-wrapper">
            <h2 class="title-wrapper">Reviews</h2>
            {% for writeup in event.writeups.all %}
                <div class="row">
                    <div class="col-sm-2">
                        <a href="/user/{{writeup.user}}">
                        {% if writeup.user.image %}
                            <img src="{{writeup.user.image}}" class="user-icon-large">
                        {% else %}
                            <img src="/static/images/icon-default.png" class="user-icon-large">
                        {% endif %}</a>
                        <br/>
                        <a href="/user/{{writeup.user}}"><b>{{writeup.user}}</b></a>
                        {% if writeup.user == currUser %}
                            <br/>
                            <a href="/writeup/{{writeup.ID}}" class="edit">Edit</a>
                            <a onclick="deleteWriteup({{writeup.ID}})" class="delete">Delete</a>
                        {% endif %}
                    </div>
                    <div class="col-sm-10">
                        <div class="star-ratings-outer"><span id="{{writeup.user}}-rating" class="star-ratings-inner" style="width:{{writeup.rating|add:writeup.rating}}0%"></span></div>
                        <div class="main-entry-text">
                            {{writeup.review|linebreaks}}
                        </div>
                        <small>Entry created: {{writeup.writeTime|date:"M d, Y"}} | Entry last edited: {{writeup.editTime|date:"M d, Y"}} | <a href="/writeup/{{writeup.ID}}">Permalink</a></small>
                        <br/>
                    </div>
                </div>
                <br/>
                <br/>
            {% empty %}
                No one has reviewed this event yet.
            {% endfor %}
            <p class="text-center">
            </p>
        </div>

        <div id="add-review">
            <div class="section-wrapper border-wrapper" id="add-review">
                <h2 class="title-wrapper">Write Review</h2>
                {% if currUser %}
                    <div class="row">
                        <div class="col-sm-2">
                            {% if currUser.image %}
                                <a href="/user/{{currUser}}"><img src="{{currUser.image}}" class="user-icon-large"/></a>
                            {% else %}
                                <a href="/user/{{currUser}}"><img src="/static/images/icon-default.png" class="user-icon-large"/></a>
                            {% endif %}
                            <br/>
                            <a href="/user/{{currUser}}">{{currUser}}</a>
                        </div>
                        <div class="col-sm-10">
                            <div class="row">
                                <div class="form-group col-sm-3 editable-review-element">
                                    <label for="star-rating" class="required">Rating:</label>
                                    <br/>
                                    <span class="star-rating" id ="star-rating">
                                        <input type="radio" name="ratingField" value="1"/><i></i>
                                        <input type="radio" name="ratingField" value="2"/><i></i>
                                        <input type="radio" name="ratingField" value="3"/><i></i>
                                        <input type="radio" name="ratingField" value="4"/><i></i>
                                        <input type="radio" name="ratingField" value="5"/><i></i>
                                    </span>
                                </div>
                            </div>
                            <div class="form-group">
                                <textarea class="form-control editable-review-element" rows="6" id="reviewField"></textarea>
                            </div>
                        </div>
                    </div>
                    <p class="text-right"><a onclick="makeWriteup()" class="btn btn-custom-blue editable-review-element">Submit</a></p>
                {% else %}
                    <p class="text-center"><a href="/login" class="btn btn-custom-blue">Login</a> or <a href="/signup" class="btn btn-custom-blue">Register</a>
                    </p>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
