{% extends "includes/helper.html" %}

{% block head %}
    <title>ArtisTally | {{event.convention}} {{event}} Overview</title>
    
    <script>
        var colors = new Array("#F7464A", "#46BFBD", "#FDB45C", "#949FB1", "#4D5360");
        var highlights = new Array("#FF5A5E", "#5AD3D1", "#FFC870", "#A8B3C5", "#616774");
        
        $(function() {
            {% if convention.avgRating != None %}
                setStars();
            {% endif %}

            {% if convention.image %}
                $(".jumbotron-convention").css("background-image", "url({{convention.image}})");
            {% endif %}

            {% if eventTopItemKinds %}
                setKindsChart();
            {% endif %}
             
            {% if eventTopItemFandoms %}
                setFandomsChart();
            {% endif %}
             
            //setProfitChart();
        });
                                      
        function setStars() {
            var rating = {{event.avgRating}};
            var percent = (rating/5)*100;
            $("#average-rating").width(percent + "%");
        }

        function setKindsChart() {
            var kindsData = [
                {% for kind in eventTopItemKinds|slice:":5" %}
                    {
                        value: {% widthratio kind.1 1 100 %},
                        color: colors[{{forloop.counter0}}],
                        highlight: highlights[{{forloop.counter0}}],
                        label: "{{kind.0}}"
                    },
                {% endfor %}
            ]
            var kindsOptions = { 
                responsive : false,
                animation: false,
                tooltipTemplate: {% verbatim %} "\<%if (label){%><%=label%>: <%}%><%= value %>%" {% endverbatim %},
                segmentStrokeColor : "#f9f9f9"
            }

            var kindsCanvas = $("#kindsChart")[0].getContext("2d");
            var kindsChart = new Chart(kindsCanvas).Doughnut(kindsData, kindsOptions);

            var helpers = Chart.helpers;
            var legendHolder = $("#kindsLegend")[0];
                legendHolder.innerHTML = kindsChart.generateLegend();
                // Include a html legend template after the module doughnut itself
                helpers.each(legendHolder.firstChild.childNodes, function(legendNode, index){
                    helpers.addEvent(legendNode, 'mouseover', function(){
                        var activeSegment = kindsChart.segments[index];
                      activeSegment.save();
                      activeSegment.fillColor = activeSegment.highlightColor;
                      kindsChart.showTooltip([activeSegment]);
                      activeSegment.restore();
                  });
              });
              helpers.addEvent(legendHolder.firstChild, 'mouseout', function(){
                  kindsChart.draw();
              });
              $("#kindsChart")[0].parentNode.parentNode.appendChild(legendHolder.firstChild);


              kindsChart.generateLegend();
              $("#kindsLegend").innerHTML = kindsChart.generateLegend();
        }
            
        function setFandomsChart() {
            var fandomsData = [
                    {% for fandom in eventTopItemFandoms|slice:":5" %}
                        {
                            value: {% widthratio fandom.1 1 100 %},
                            color: colors[{{forloop.counter0}}],
                            highlight: highlights[{{forloop.counter0}}],
                            label: "{{fandom.0}}"
                        },
                    {% endfor %}
                ]
                var fandomsOptions = { 
                    responsive : false,
                    animation: false,
                    tooltipTemplate: {% verbatim %} "\<%if (label){%><%=label%>: <%}%><%= value %>%" {% endverbatim %},
                    segmentStrokeColor : "#f9f9f9"
                }

                var fandomsCanvas = $("#fandomsChart")[0].getContext("2d");
                var fandomsChart = new Chart(fandomsCanvas).Doughnut(fandomsData, fandomsOptions);

                var helpers = Chart.helpers;
                var legendHolder = $("#fandomsLegend")[0];
                    legendHolder.innerHTML = fandomsChart.generateLegend();
                    // Include a html legend template after the module doughnut itself
                    helpers.each(legendHolder.firstChild.childNodes, function(legendNode, index){
                        helpers.addEvent(legendNode, 'mouseover', function(){
                            var activeSegment = fandomsChart.segments[index];
                          activeSegment.save();
                          activeSegment.fillColor = activeSegment.highlightColor;
                          fandomsChart.showTooltip([activeSegment]);
                          activeSegment.restore();
                      });
                  });
                  helpers.addEvent(legendHolder.firstChild, 'mouseout', function(){
                      fandomsChart.draw();
                  });
                  $("#fandomsChart")[0].parentNode.parentNode.appendChild(legendHolder.firstChild);


                  fandomsChart.generateLegend();
                  $("#fandomsLegend").innerHTML = fandomsChart.generateLegend();
        }
        
        {% if currUser %}
            function setFavorite() {
                var jsonDict = new Object();
                jsonDict.conID = "{{event.convention.ID}}";
                var ajaxObj = $.ajax({
                    url: "/api/convention/setUser",
                    type: "POST",
                    contentType: "application/json",
                    data: JSON.stringify(jsonDict),
                    success: function(response) {
                         $("#setFavoriteButtonWrapper").html('<a class="btn btn-custom-blue" id="setFavoriteButton" onclick="unsetFavorite()"><i class="fa fa-minus"></i> My Conventions</a>');
                    },
                    error: function(response) {
                        alert("Could not add to your conventions! \n Error - " + JSON.parse(response.responseText).error);
                    },
                });
            }

            function unsetFavorite() {
                var jsonDict = new Object();
                jsonDict.conID = "{{event.convention.ID}}";
                var ajaxObj = $.ajax({
                    url: "/api/convention/unsetUser",
                    type: "POST",
                    contentType: "application/json",
                    data: JSON.stringify(jsonDict),
                    success: function(response) {
                        $("#setFavoriteButtonWrapper").html('<a class="btn btn-custom-blue" id="setFavoriteButton" onclick="setFavorite()"><i class="fa fa-plus"></i> My Conventions</a>');
                    },
                    error: function(response) {
                        alert("Could not remove from your conventions! \n Error - " + JSON.parse(response.responseText).error);
                    },
                });
            }

            function makeWriteup() {
                var jsonDict = new Object();
                jsonDict.rating = $('input[name="ratingField"]:checked').val();
                jsonDict.eventID = "{{event.ID}}";
                jsonDict.review = $("#reviewField").val();
                $.ajax({
                    url: "/api/writeup/newWriteup",
                    type: "POST",
                    contentType: "application/json",
                    data: JSON.stringify(jsonDict),
                    success: function(response) {
                        location.reload();
                    },
                    error: function(response) {
                        alert("Could not add new review! \n Error - " + JSON.parse(response.responseText).error);
                    },
                });
            }
        {% endif %}
    </script>
    
{% endblock %}

{% block body %}
    <div class="container">
        <div class="jumbotron-convention"></div>
        <div class="con-header">
            <div class="main-info">
                <h2><a href="{{event.convention.website}}">{{event.convention}} {{event}}</a></h2>
                {{event.location}} | {{event.startDate}} - {{event.endDate}}
            </div>
            {% if currUser %}
            <div class="cell text-center">
                <div class="containery">
                    <div class="centery">
                        <span id="setFavoriteButtonWrapper">
                            {% if currUser not in event.convention.users.all %}
                                <a class="btn btn-custom-blue" id="setFavoriteButton" onclick="setFavorite()"><i class="fa fa-plus"></i> My Conventions</a>
                            {% else %}
                                <a class="btn btn-custom-blue" id="setFavoriteButton" onclick="unsetFavorite()"><i class="fa fa-minus"></i> My Conventions</a>
                            {% endif %}
                        </span>
                        {% if currUserEventWriteup %}
                            <span><a href="/writeup/{{currUserEventWriteup.ID}}" class="btn btn-custom-blue">Edit Review</a></span>
                        {% else %}
                            <span><a href="#add-review" class="btn btn-custom-blue">Add Review</a></span>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endif %}
            <div class="cell text-center">
                <div class="containery">
                    <div class="centery">
                        <div class="star-ratings-outer"><span id="average-rating" class="star-ratings-inner" style="width:0%"></span></div>
                        {{event.writeups.count}} review{{event.writeups.count|pluralize}}
                    </div>
                </div>
            </div>
        </div>

        <div class="section-wrapper border-wrapper">
            <h2 class="title-wrapper">Overview</h2>
            A total of {{event.numAttenders}} attendees were at {{event.convention}} {{event}}.
            <br/>We have data from a total of {{convention.users.count}} people from this period in time. (??? user count for convention, not for just this event - to fix)
            {% if convention.avgUserProfit != None %}
                <br/>
                On average, each artist makes a total of ${{event.convention.avgUserProfit|floatformat:2}}.
            {% endif %}
            <!--            <canvas id="moneyChart" width="400" height="400"></canvas>-->
            
            <!-- ------------------------ CHARTS ------------------------- -->
            
<!--            <canvas id="profitChart" width="200" height="200"></canvas>-->
            {% if eventTopItemKinds %}
                <br/>
                <br/>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="chart-wrapper">
                            <h3 class="title-wrapper">Popular Merchandise</h3>
                            <div class="chart-display">
                                <canvas id="kindsChart" width="150" height="150"></canvas>
                            </div>
    <!--                        <br/>-->
                            <div class="chart-legend" id="kindsLegend"></div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="chart-wrapper">
                            <h3 class="title-wrapper">Popular Fandoms</h3>
                            <div class="chart-display">
                                <canvas id="fandomsChart" width="150" height="150"></canvas>
                            </div>
    <!--                        <br/>-->
                            <div class="chart-legend" id="fandomsLegend"></div>
                        </div>
                    </div>
                </div>
            {% else %}
                <br/>
                There's currently no merchandise data for this event! Help us by adding this event to your list and adding your inventory data.       
            {% endif %}
        </div>
        <div class="section-wrapper border-wrapper">
            <h2 class="title-wrapper">Reviews</h2>
            {% for writeup in event.writeups.all|slice:":5" %}
                <div class="review-entry">
                    <div class="side-entry">
                        <a href="/user/{{writeup.user}}">
                        {% if writeup.user.image %}
                            <img src="{{writeup.user.image}}" class="user-icon-large">
                        {% else %}
                            <img src="/static/images/icon-default.png" class="user-icon-large">
                        {% endif %}</a>
                        <br/>
                        <a href="/user/{{writeup.user}}"><b>{{writeup.user}}</b></a>
                        <br/>
                        {{writeup.editTime|date:"M d, Y"}}
                        {% if writeup.user == currUser %}
                            <br/>
                            <a href="/writeup/{{currUserEventWriteup.ID}}" class="btn btn-custom-blue">Edit Review</a>
                        {% endif %}
                    </div>
                    <div class="main-entry">
                        <div class="star-ratings-outer"><span id="{{writeup.user}}-rating" class="star-ratings-inner" style="width:{{writeup.rating|add:writeup.rating}}0%"></span></div>
                        <div class="main-entry-text">
                            {{writeup.review}}
                        </div>
                        <br/>
                    </div>
                </div>
                <hr/>
            {% empty %}
                No one has reviewed this event yet.
            {% endfor %}
            <p class="text-center">
                {{event.writeups.count}} review{{event.writeups.count|pluralize}} in total
                <br/><a href="/eventreviews/{{event.ID}}" class="btn btn-custom-blue">Read All Reviews</a>
            </p>
        </div>
        <div class="section-wrapper border-wrapper" id="add-review">
            {% if currUser %}
                <h2 class="title-wrapper">Write Review</h2>
                {% if currUserEventWriteup %}
                    You've already written a review.
                    <br/>
                    <a href="/writeup/{{currUserEventWriteup.ID}}" class="btn btn-custom-blue">Edit Review</a>
                {% else %}
                    <div class="review-entry">
                        <div class="side-entry">
                            <a href="/user/{{currUser}}">
                            {% if currUser.image %}
                                <img src="{{currUser.image}}" class="user-icon-large">
                            {% else %}
                                <img src="/static/images/icon-default.png" class="user-icon-large">
                            {% endif %}</a>
                            <br/>{{currUser}}
                        </div>
                        <div class="main-entry">
                            Rating:
                            <span class="star-rating">
                                <input type="radio" name="ratingField" value="1"><i></i>
                                <input type="radio" name="ratingField" value="2"><i></i>
                                <input type="radio" name="ratingField" value="3"><i></i>
                                <input type="radio" name="ratingField" value="4"><i></i>
                                <input type="radio" name="ratingField" value="5"><i></i>
                            </span>
                            <br/>
                            <div class="form-group">
                                <textarea class="form-control" rows="5" id="reviewField"></textarea>
                            </div>
                        </div>
                    </div>
                    <p class="text-right"><a onclick="makeWriteup()" class="btn btn-custom-blue" href="#">Submit</a></p>
                {% endif %}
            {% else %}
                <p class="text-center"><a href="/login" class="btn btn-custom-blue">Login</a> or <a href="/signup" class="btn btn-custom-blue">Register</a>
                </p>
            {% endif %}
        </div>
    </div>
{% endblock %}
