{% extends "includes/helper.html" %}

{% block head %}
    {% if invEvent %}
        <title>ArtisTally | My Inventory</title>
    {% else %}
        <title>ArtisTally | My {{event.convention}} {{event}} Inventory</title>
    {% endif %}
    
    <link rel="stylesheet" href="/static/jquery-ui.css"/>
    <script src="/static/js/editablegrid/all_min.js"></script>
    <script src="/static/js/jquery-ui.js"></script>

    <script>
        $(function() {
            $("#fandomField").keydown(function(event) {
                if (event.keyCode == 13) {
                    $("#fandomSubmit").click();
                 }
            });
            
            $("#kindField").keydown(function(event) {
                if (event.keyCode == 13) {
                    $("#kindSubmit").click();
                 }
            });
            
            // add editable grid
            makeEditableGrid();
            // make new fandom and new kinds in add new form searchable
            appendAutoComplete();
            $('[data-toggle="tooltip"]').tooltip();
            
            $(".inventory-field").keydown(function(event) {
                if (event.keyCode == 13) {
                    $("#submitItemButton").click();
                 }
            });
            
            {% if not invEvent %}
                $(".cost-field").keydown(function(event) {
                    if (event.keyCode == 13) {
                        $("#submitCostButton").click();
                     }
                });
            {% endif %}
        });
        
        {% if invEvent %}
            function copyInventory() {
                
            }
        {% else %}
        
            function updateMiscCost(itemID, rowID, colID, newValue, oldValue) {
                var jsonDict = new Object();
                jsonDict.miscCostID = itemID.slice(0, -4);
                var costName = 0,
                    costAmount = 1;

                switch(colID) {
                    case costName:
                        jsonDict.name = newValue;
                        $.ajax({
                            url: "/api/miscCost/setName",
                            type: "POST",
                            contentType: "application/json",
                            data: JSON.stringify(jsonDict),
                            async: false,
                            error: function(response) {
                                try {
                                    alert("Could not set costs name! \n Error - " + JSON.parse(response.responseText).error);
                                } catch (e) {
                                    alert("Could not set costs name! An unknown error has occurred.");
                                }
                                costGrid.setValueAt(rowID, colID, oldValue, true);
                            },
                        });
                        break;
                    case costAmount:
                        jsonDict.amount = newValue;
                        $.ajax({
                            url: "/api/miscCost/setAmount",
                            type: "POST",
                            contentType: "application/json",
                            data: JSON.stringify(jsonDict),
                            async: false,
                            error: function(response) {
                                try {
                                    alert("Could not set cost amount! \n Error - " + JSON.parse(response.responseText).error);
                                } catch (e) {
                                    alert("Could not set costs amount! An unknown error has occurred.");
                                }
                                costGrid.setValueAt(rowID, colID, oldValue, true);
                            },
                        });
                        break;
                }
            }

            function addMiscCost() {
                if ($("#mcAmountField").val() && $("#mcNameField").val()) {
                    var jsonDict = new Object();
                    jsonDict.eventID = "{{event.ID}}";
                    jsonDict.name = $("#mcNameField").val();
                    jsonDict.amount = $("#mcAmountField").val();

                    $.ajax({
                        url: "/api/miscCost/newMiscCost",
                        type: "POST",
                        contentType: "application/json",
                        data: JSON.stringify(jsonDict),
                        success: function(response) {
                            costGrid.append(response.miscCostID + "cost", {"cost name": jsonDict.name, "amount": jsonDict.amount}, true);
                            costGrid.refreshGrid();
                            $("#" + response.miscCostID + "cost td:nth-child(3)").addClass("text-right");
                        },
                        error: function(response) {
                            try {
                                alert("Could not make new cost! \n Error - " + JSON.parse(response.responseText).error);
                            } catch (e) {
                                alert("Could not make new cost! An unknown error has occurred.");
                            }
                        },
                    });
                } else {
                    alert("Please fill in all necessary information.");
                }
            }
         
            function deleteMiscCost(costID) {
                var jsonDict = new Object;
                jsonDict.miscCostID = costID.slice(0, -4);
                $.ajax({
                    url: "/api/miscCost/deleteMiscCost",
                    type: "POST",
                    contentType: "application/json",
                    data: JSON.stringify(jsonDict),
                    success: function(response) {
                        var rowIndex = costGrid.getRowIndex(costID);
                        costGrid.remove(rowIndex);
                    },
                    error: function(response) {
                        try {
                            alert("Could not delete cost! \n Error - " + response.responseText);
                        } catch (e) {
                            alert("Could not delete cost! An unknown error has occurred.");
                        }
                    },
                });
            }
            
            function copyInventory() {
                $("#copyInventoryButton").attr("disabled", true);
                var jsonDict = new Object();
                jsonDict.eventID = {{event.ID}};
                $.ajax({
                    url: "/api/event/copyInventory",
                    type: "POST",
                    contentType: "application/json",
                    data: JSON.stringify(jsonDict),
                    success: function(response) {
                        location.reload();
                    },
                    error: function(response) {
                        alert("Could not copy inventory! \n Error - " + JSON.parse(response.responseText).error);
                    },
                });
            }
        {% endif %}
        
        function roundDecimal(num) {
            return Math.round(num*100)/100;
        }
         
        function makeEditableGrid() {
            editableGrid = new EditableGrid("InventoryEditableGrid", 
                { sortIconUp: "/static/images/up.png", 
                sortIconDown: "/static/images/down.png",
                modelChanged: function(rowIdx, colIdx, oldValue, newValue, row) { updateItem(row.id, rowIdx, colIdx, newValue, oldValue); }});

            editableGrid.load({ metadata: [
                { name: "name", datatype: "string", editable: true },
                { name: "fandom", datatype: "string", editable: true },
                { name: "kind", datatype: "string", editable: true },
                { name: "price", datatype: "double($,2,dot,comma,1)", editable: true },
                { name: "cost", datatype: "double($,2,dot,comma,1)", editable: true },
                { name: "remaining", datatype: "integer(,-1,dot,comma,1)", editable: true },
                {% if not invEvent %}
                    { name: "sold", datatype: "integer(,-1,dot,comma,1)", editable: true },
                {% endif %}
                { name: "action", datatype: "html", editable: false }
            ]});
            
            editableGrid.setCellRenderer("action", new CellRenderer({render: function(cell, value) {
                var rowID = editableGrid.getRowId(cell.rowIndex);
                cell.innerHTML = '<a data-toggle="tooltip" title="Duplicate" onclick="duplicateItem(' + rowID + ')" style="cursor:pointer"><i class="fa fa-clone"></i></a>';
                cell.innerHTML += '&nbsp;<a data-toggle="tooltip" title="Delete" onclick="deleteItem(' + rowID + ')" style="cursor:pointer"><i class="fa fa-trash"></i></a>';
                $('[data-toggle="tooltip"]').tooltip();
            }})); 
            
            editableGrid.attachToHTMLTable("inventory");
            editableGrid.renderGrid();
            
            {% if not invEvent %}
                costGrid = new EditableGrid("CostEditableGrid",
                    { sortIconUp: "/static/images/up.png", 
                    sortIconDown: "/static/images/down.png",
                    modelChanged: function(rowIdx, colIdx, oldValue, newValue, row) { updateMiscCost(row.id, rowIdx, colIdx, newValue, oldValue); }});
                
                costGrid.load({ metadata: [
                    { name: "cost name", datatype: "string", editable: true },
                    { name: "amount", datatype: "double($,2,dot,comma,1)", editable: true },
                    { name: "action", datatype: "html", editable: false }
                ]});
            
                costGrid.setCellRenderer("action", new CellRenderer({render: function(cell, value) {
                    var rowID = costGrid.getRowId(cell.rowIndex);
                    cell.innerHTML = '<a data-toggle="tooltip" title="Delete" onclick="deleteMiscCost(\'' + rowID.toString() + '\')" style="cursor:pointer"><i class="fa fa-trash"></i></a>';
                    $('[data-toggle="tooltip"]').tooltip();
                }}));
             
                costGrid.attachToHTMLTable("cost-chart");
                costGrid.renderGrid();
            {% endif %}
        }
         
        function appendAutoComplete() {
            fandomResults = [
                {% for fandom in fandoms %}
                    "{{fandom}}",
                {% endfor %}
            ];
            
            $("#new-fandom").autocomplete({
                source: fandomResults,
                open: function(){
                    $(".ui-autocomplete").append('<li class="ui-menu-item" data-toggle="modal" data-target="#fandomModal" aria-label="Add New">+ New Fandom</li>');
                },
                response: function(event, ui) {
                    if (ui.content.length === 0) {
                        $("#add-new-fandom").removeClass("hidden");
                    } else {
                        $("#add-new-fandom").addClass("hidden");
                    }
                }
            });
            
            kindResults = [
                {% for kind in kinds %}
                    "{{kind}}",
                {% endfor %}
            ];
            
            $("#new-kind").autocomplete({
                source: kindResults,
                open: function(){
                    $(".ui-autocomplete").append('<li class="ui-menu-item" data-toggle="modal" data-target="#kindModal" aria-label="Add New">+ New Kind</li>');
                },
                response: function(event, ui) {
                    if (ui.content.length === 0) {
                        $("#add-new-kind").removeClass("hidden");
                    } else {
                        $("#add-new-kind").addClass("hidden");
                    }
                }
            });
        }
        
        function makeNewItem() {
            makeItem($("#new-name").val(), 
                     "{{event.ID}}", 
                     $("#new-fandom").val(), 
                     $("#new-kind").val(), 
                     roundDecimal($("#new-price").val()), 
                     roundDecimal($("#new-cost").val()), 
                     $("#new-numLeft").val(), 
                     {% if invEvent %}
                        0);
                     {% else %}
                        $("#new-numSold").val());
                     {% endif %}
        }
         
        function duplicateItem(rowID) {
            var rowIndex = editableGrid.getRowIndex(rowID);
            makeItem(editableGrid.getValueAt(rowIndex, 0),
                    "{{event.ID}}", 
                    editableGrid.getValueAt(rowIndex, 1), 
                    editableGrid.getValueAt(rowIndex, 2), 
                    editableGrid.getValueAt(rowIndex, 3), 
                    editableGrid.getValueAt(rowIndex, 4), 
                    editableGrid.getValueAt(rowIndex, 5), 
                    {% if invEvent %}
                        0);
                    {% else %}
                       editableGrid.getValueAt(rowIndex, 6));
                    {% endif %}
        }
        
        function makeItem(itemName, eventID, itemFandom, itemKind, itemPrice, itemCost, itemNumLeft, itemNumSold) {
            
            var jsonDict = new Object();
            jsonDict.name = itemName;
            jsonDict.eventID = eventID;
            jsonDict.fandom = itemFandom;
            jsonDict.kind = itemKind;
            jsonDict.price = itemPrice;
            jsonDict.cost = itemCost;
            jsonDict.numLeft = itemNumLeft;
            jsonDict.numSold = itemNumSold;
            
            $.ajax({
                url: "/api/item/newItem",
                type: "POST",
                contentType: "application/json",
                data: JSON.stringify(jsonDict),
                success: function(response) {
                    editableGrid.append(response.itemID, {"name": itemName, "fandom": itemFandom, "kind": itemKind, "price": itemPrice, "cost": itemCost, "remaining": itemNumLeft{% if not invEvent %}, "sold": itemNumSold{% endif %}}, true);
                    editableGrid.refreshGrid();
                    $("#" + response.itemID + " td:nth-child(6)").addClass("text-right");
                    $("#" + response.itemID + " td:nth-child(7)").addClass("text-right");
                    {% if not invEvent %}
                        $("#" + response.itemID + " td:nth-child(8)").addClass("text-right");
                    {% endif %}
                },
                error: function(response) {
                    try {
                        alert('Could not make new item! Error: \n' + JSON.parse(response.responseText).error);
                    } catch (e) {
                        alert("Could not make new item! An unknown error has occurred.");
                    }
                    
                },
            });
        }
        
        function updateItem(itemID, rowID, colID, newValue, oldValue) {
            var name = 0,
                fandom = 1,
                kind = 2,
                price = 3,
                cost = 4,
                numLeft = 5
                {% if not invEvent %}
                    , numSold = 6
                {% endif %};
            
            var jsonDict = new Object();
            jsonDict.itemID = itemID;
            
            switch(colID) {
                case name:
                    jsonDict.name = newValue;
                    var ajaxObj = $.ajax({
                        url: "/api/item/setName",
                        type: "POST",
                        contentType: "application/json",
                        data: JSON.stringify(jsonDict),
                        error: function(response) {
                            try {
                                alert("Could not set new name! \n Error - " + JSON.parse(response.responseText).error);
                            } catch (e) {
                                alert("Could not set new name! An unknown error has occurred.");
                            }
                            editableGrid.setValueAt(rowID, colID, oldValue, true);
                        },
                    });
                    break;
                case fandom:
                    jsonDict.fandom = newValue;
                    var ajaxObj = $.ajax({
                        url: "/api/item/setFandom",
                        type: "POST",
                        contentType: "application/json",
                        data: JSON.stringify(jsonDict),
                        error: function(response) {
                            try {
                                alert("Could not set new fandom! \n Error - " + JSON.parse(response.responseText).error);
                            } catch (e) {
                                alert("Could not set new fandom! An unknown error has occurred.");
                            }
                            editableGrid.setValueAt(rowID, colID, oldValue, true);
                        },
                    });
                    break;
                case kind:
                    jsonDict.kind = newValue;
                    var ajaxObj = $.ajax({
                        url: "/api/item/setKind",
                        type: "POST",
                        contentType: "application/json",
                        data: JSON.stringify(jsonDict),
                        error: function(response) {
                            try {
                                alert("Could not set new kind! \n Error - " + JSON.parse(response.responseText).error);
                            } catch (e) {
                                alert("Could not set new kind! An unknown error has occurred.");
                            }
                            editableGrid.setValueAt(rowID, colID, oldValue, true);
                        },
                    });
                    break;
                case price:
                    var priceConfirm = confirm("Are you sure you want to change the price? This affects the way we calculate your profit for all past items sold. If you're decreasing the item price for future sales, consider making a new item.");
                    if (priceConfirm == true) {
                        jsonDict.price = newValue;
                        var ajaxObj = $.ajax({
                            url: "/api/item/setPrice",
                            type: "POST",
                            contentType: "application/json",
                            data: JSON.stringify(jsonDict),
                            error: function(response) {
                                try {
                                    alert("Could not set new price! \n Error - " + JSON.parse(response.responseText).error);
                                } catch (e) {
                                    alert("Could not set new price! An unknown error has occurred.");
                                }
                                editableGrid.setValueAt(rowID, colID, oldValue, true);
                            },
                        });
                    } else {
                        editableGrid.setValueAt(rowID, colID, oldValue, true);
                    }
                    break;
                case cost:
                    var costConfirm = confirm("Are you sure you want to change the cost? This affects the way we calculate your profit for all past items sold. If you're decreasing the item price for future sales, consider making a new item.");
                    if (costConfirm == true) {
                        jsonDict.cost = newValue;
                        var ajaxObj = $.ajax({
                            url: "/api/item/setCost",
                            type: "POST",
                            contentType: "application/json",
                            data: JSON.stringify(jsonDict),
                            error: function(response) {
                                try {
                                    alert("Could not set new cost! \n Error - " + JSON.parse(response.responseText).error);
                                } catch (e) {
                                    alert("Could not set new cost! An unknown error has occurred.");
                                }
                                editableGrid.setValueAt(rowID, colID, oldValue, true);
                            },
                        });
                    } else {
                        editableGrid.setValueAt(rowID, colID, oldValue, true);
                    }
                    break;
                case numLeft:
                    jsonDict.numLeft = newValue;
                    var ajaxObj = $.ajax({
                        url: "/api/item/setNumLeft",
                        type: "POST",
                        contentType: "application/json",
                        data: JSON.stringify(jsonDict),
                        error: function(response) {
                            try {
                                alert("Could not set remaining number! \n Error - " + JSON.parse(response.responseText).error);
                            } catch (e) {
                                alert("Could not set remaining number! An unknown error has occurred.");
                            }
                            editableGrid.setValueAt(rowID, colID, oldValue, true);
                        },
                    });
                    break;
                {% if not invEvent %}
                    case numSold:
                        var diff = oldValue - newValue;
                        //get the numLeft
                        var old_numLeft = editableGrid.getValueAt(rowID, numLeft);
                        var new_numLeft = old_numLeft + diff;
                        console.log(new_numLeft);
                        if (new_numLeft >= 0) {
                            console.log("in here");
                            updateItem(itemID, rowID, numLeft, new_numLeft, old_numLeft);
                            editableGrid.setValueAt(rowID, numLeft, new_numLeft, true);
                        } else {
                            alert("Could not set number sold! You do not have enough of this item in stock.");
                            editableGrid.setValueAt(rowID, colID, oldValue, true);
                            break;
                        }
                        jsonDict.numSold = newValue;
                        var ajaxObj = $.ajax({
                            url: "/api/item/setNumSold",
                            type: "POST",
                            contentType: "application/json",
                            data: JSON.stringify(jsonDict),
                            error: function(response) {
                                try {
                                    alert("Could not set number sold! \n Error - " + JSON.parse(response.responseText).error);
                                } catch (e) {
                                    alert("Could not set number sold! An unknown error has occurred.");
                                }
                                editableGrid.setValueAt(rowID, colID, oldValue, true);
                            },
                        });
                        break;
                {% endif %}
            }
        }
        
        function deleteItem(itemID) {
            if (confirm("Are you sure you want to delete this?")) {
                var jsonDict = new Object();
                jsonDict.itemID = itemID;
                var ajaxObj = $.ajax({
                    url: "/api/item/deleteItem",
                    type: "POST",
                    contentType: "application/json",
                    data: JSON.stringify(jsonDict),
                    success: function(response) {
                        //$("#" + itemID + "nameField").closest("tr").remove();
                        var rowIndex = editableGrid.getRowIndex(itemID);
                        editableGrid.remove(rowIndex);
                        //editableGrid.remove();
                        // Editable Grid shuffles everything inside the tr but not the tr itself... so the IDs don't match up
                    },
                    error: function(response) {
                        try {
                            alert("Could not delete item! \n Error - " + JSON.parse(response.responseText).error);
                        } catch (e) {
                            alert("Could not delete item! An unknown error has occurred.");
                        }
                    },
                });
            }
        }
                    
        function toggleItemForm() {
            {% if invEvent %}
                var buttonStr = "#new-numLeft";
            {% else %}
                var buttonStr = "#new-numSold";
            {% endif %}
            if ($("#item-form").css("display") == "none") {
                $("#item-form").show("slow", function() {});
            } else {
                $("#item-form").hide("slow", function() {});
            }
        }
        
        function makeFandom() {
            var jsonDict = new Object();
            jsonDict.name = $("#fandomField").val();
            console.log(jsonDict.name);
            $.ajax({
                url: "/api/fandom/newFandom",
                type: "POST",
                contentType: "application/json",
                data: JSON.stringify(jsonDict),
                success: function(response) {
                    fandomResults.push(jsonDict.name);
                    $("#fandomModal").modal("hide");
                    $("#new-fandom").val(jsonDict.name);
                    $("#add-new-fandom").addClass("hidden");
                },
                error: function(response) {
                    try {
                        alert("Could not make new fandom! \n Error - " + JSON.parse(response.responseText).error);
                    } catch (e) {
                        alert("Could not make new fandom! An unknown error has occurred.");
                    }
                },
            });
        }
        
        function makeKind() {
            var jsonDict = new Object();
            jsonDict.name = $("#kindField").val();
            console.log(jsonDict.name);
            $.ajax({
                url: "/api/kind/newKind",
                type: "POST",
                contentType: "application/json",
                data: JSON.stringify(jsonDict),
                success: function(response) {
                    kindResults.push(jsonDict.name);
                    $("#kindModal").modal("hide");
                    $("#new-kind").val(jsonDict.name);
                    $("#add-new-kind").addClass("hidden");
                },
                error: function(response) {
                    try {
                        alert("Could not set new kind! \n Error - " + JSON.parse(response.responseText).error);
                    } catch (e) {
                        alert("Could not set new kind! An unknown error has occurred.");
                    }
                },
            });
        }
    </script>
{% endblock %}

{% block body %}
    <div class="container">
        <div class="alert alert-success alert-dismissible hidden" role="alert" id="error-message">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <b>Success!</b> Miscellaneous costs have been updated.
        </div>
        <div class="row">
            <div class="col-md-2 sidebar">
                <div class="fixed">
                    {% include "includes/sidebar.html" %}
                </div>
            </div>

            <div class="col-md-10">
                <div class="my-section-wrapper border-wrapper">
                    <h1 class="title-wrapper">{% if invEvent %}Main {% else %}{{event.convention}} {{event}} {% endif %}Inventory</h1>
                    {% if invEvent %}
                        This is your main inventory, designed to keep track of what you have in stock at all times. To keep track of an individual event's inventory, hop on over to <a href="/myconventions">your conventions</a>.
                    {% else %}
                        This inventory is specific to {{event.convention}} {{event}}. Help us maintain correct information by filling out your convention costs as well as your inventory. Thank you, we really appreciate it!
                    {% endif %}
                    <br/>
                    Please note that you are the only one who is allowed to view your inventory. All other ArtisTally users do not have permission to access your data.
                </div>
                <div class="my-section-wrapper border-wrapper">
                    <h3 class="title-wrapper">Inventory <small>Click cell to edit.</small></h3>
                    <a onclick="toggleItemForm()" class="btn btn-custom-blue"><i class="fa fa-plus-circle fa-1x"></i> Add Item</a>
                    {% if invEvent %}
                        <a data-toggle="modal" data-target="#eventToMainInvCopyModal" aria-label="Add New" class="btn btn-custom-blue">Copy Convention Inventory</a>
                    {% else %}
                        <a data-toggle="modal" data-target="#mainToEventInvCopyModal" aria-label="Add New" class="btn btn-custom-blue">Copy Main Inventory</a>
                    {% endif %}
                        
                    <div id="item-form">
                        <br/>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="control-label required" for="new-name">Name:</label> 
                                    <input type="text" class="form-control inventory-field" placeholder="Name" id="new-name" autocomplete="off">
                                </div>
                                <div class="form-group">
                                    <label class="control-label required" for="new-fandom">Fandom:</label> 
                                    <a data-toggle="tooltip" title="The fandom your item is for. If original, just put in 'original'."><i class="fa fa-question-circle"></i></a>
                                    <small class="hidden" id="add-new-fandom">&nbsp;&nbsp;&nbsp;Fandom not found. <a data-toggle="modal" data-target="#fandomModal" aria-label="Add New" style="cursor:pointer">Add new fandom?</a></small>
                                    <input type="text" class="form-control inventory-field" placeholder="Pokemon, Hunter x Hunter, etc..." id="new-fandom">
                                </div>
                                <div class="form-group">
                                    <label class="control-label required" for="new-kind">Kind:</label>
                                    <a data-toggle="tooltip" title="The type of merchandise this item is."><i class="fa fa-question-circle"></i></a>
                                    <small class="hidden" id="add-new-kind">&nbsp;&nbsp;&nbsp;Kind not found. <a data-toggle="modal" data-target="#kindModal" aria-label="Add New" style="cursor:pointer">Add new kind?</a></small>
                                    <input type="text" class="form-control inventory-field" placeholder="Acrylic keychain, print, etc..." id="new-kind">
                                    <div id="add-new-kind"></div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="control-label required" for="new-price">Price:</label> <a data-toggle="tooltip" title="The price at which you are selling this item"><i class="fa fa-question-circle"></i></a>
                                    <input type="number" class="form-control inventory-field" placeholder="0" id="new-price">
                                </div>
                                <div class="form-group">
                                    <label class="control-label required" for="new-cost">Cost of Production:</label> <a data-toggle="tooltip" title="The price at which the item cost you to make"><i class="fa fa-question-circle"></i></a>
                                    <input type="number" class="form-control inventory-field" placeholder="0" id="new-cost" autocomplete="off">
                                </div>
                                <div class="form-group">
                                    <label class="control-label required" for="new-numLeft">Amount in Stock:</label>
                                    <input type="number" class="form-control inventory-field" placeholder="0" id="new-numLeft" autocomplete="off">
                                </div>
                                {% if not invEvent %}
                                    <div class="form-group">
                                        <label class="control-label required" for="new-numSold">Amount Sold:</label>
                                        <input type="number" class="form-control inventory-field" placeholder="0" id="new-numSold" autocomplete="off">
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                        <p class="text-right"><a onclick="toggleItemForm()" class="btn btn-custom-blue">Cancel</a> <a onclick="makeNewItem()" class="btn btn-custom-blue" id="submitItemButton">Add Item</a></p> 
                        <hr>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-hover" id="inventory">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Fandom</th>
                                    <th>Kind</th>
                                    <th>Price</th>
                                    <th>Cost</th>
                                    <th class="text-right">In Stock</th>
                                    {% if not invEvent %}
                                        <th class="text-right">Sold</th>
                                    {% endif %}
                                    <th class="text-right">Action</th>
                                </tr>
                            </thead>
                            <tbody id="inventory-body">
                            {% for item in eventItems %}
                                <tr id="{{item.ID}}">
                                    <td>{{item.name}}</td>
                                    <td>{{item.fandom}}</td>
                                    <td>{{item.kind}}</td>
                                    <td>{{item.price|floatformat:2}}</td>
                                    <td>{{item.cost|floatformat:2}}</td>
                                    <td class="text-right">{{item.numLeft}}</td>
                                    {% if not invEvent %}
                                        <td class="text-right">{{item.numSold}}</td>
                                    {% endif %}
                                    <td class="text-right"></td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                    {% if not invEvent %}
                        <div class="my-section-wrapper border-wrapper">
                            <h3 class="title-wrapper">Event Costs <small>Click cell to edit.</small></h3>
                            <div class="row">
                                <div class="col-md-6">
                                    <h4>Add New Cost</h4>
                                    <div class="row" id="cost-form">
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label class="control-label required" for="mcNameField">Cost Type</label>
                                                <input type="text" class="form-control cost-field" placeholder="Table, hotel, transportation, etc..." id="mcNameField">
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label class="control-label required" for="mcAmountField">Amount</label>
                                                <input type="number" class="form-control cost-field" placeholder="0.00" id="mcAmountField">
                                            </div>
                                        </div>
                                        <div class="text-right"><a onclick="addMiscCost()" class="btn btn-custom-blue" id="submitCostButton">Add</a></div>
                                    </div>
                                </div>
                                <div class="col-md-6 table-responsive">
                                    <table class="table table-hover" id="cost-chart">
                                        <thead>
                                            <th>Cost Name</th>
                                            <th>Amount</th>
                                            <th class="text-right">Action</th>
                                        </thead>
                                        <tbody>
                                            {% for mc in miscCosts %}
                                                <tr id="{{mc.ID}}cost">
                                                    <td>{{mc.name}}</td>
                                                    <td>{{mc.amount}}</td>
                                                    <td class="text-right"></td>
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% include "includes/modals.html" %}
{% endblock %}
