{% extends "includes/helper.html" %}

{% block head %}
    <title>Artistally Item {{item}}</title>
    {% if currUser and currUser == item.user %}
        <script>
            function uploadFile() {
                var file = document.getElementById("fileField").files[0];
                var reader = new FileReader();
                reader.onloadend = function() {
                    var jsonDict = new Object();
                    jsonDict.file = reader.result.split(",")[1];
                    $.ajax({
                        url: "/api/util/uploadFile",
                        type: "POST",
                        contentType: "application/json",
                        data: JSON.stringify(jsonDict),
                        success: function(response) {
                            updateImage(response.url);
                        },
                        error: function(response) {
                            alert("uploadFile went wrong");
                        },
                    });
                }
                if (file) {
                    reader.readAsDataURL(file);
                }
            }
            
            function updateImage(url) {
                var jsonDict = new Object();
                jsonDict.image = url;
                jsonDict.itemID = {{item.ID}};
                var ajaxObj = $.ajax({
                    url: "/api/item/setImage",
                    type: "POST",
                    contentType: "application/json",
                    data: JSON.stringify(jsonDict),
                    async: false,
                    error: function(response) {
                        alert("setImage went wrong");
                    },
                });
                if (ajaxObj.status == 200) {
                    window.location.reload(true);
                }
            }
            
            function updateItem() {
                var jsonDict = new Object();
                jsonDict.itemID = {{item.ID}};
                jsonDict.name = $("#nameField").val();
                jsonDict.numSold = $("#numSoldField").val();
                jsonDict.numLeft = $("#numLeftField").val();
                if (jsonDict.name != $("#nameField").prop("defaultValue")) {
                    var ajaxObj = $.ajax({
                        url: "/api/item/setName",
                        type: "POST",
                        contentType: "application/json",
                        data: JSON.stringify(jsonDict),
                        async: false,
                        error: function(response) {
                            alert("setName went wrong");
                        },
                    });
                    if (ajaxObj.status != 200) {
                        return false;
                    }
                }
                if (jsonDict.numSold != $("#numSoldField").prop("defaultValue")) {
                    var ajaxObj = $.ajax({
                        url: "/api/item/setNumSold",
                        type: "POST",
                        contentType: "application/json",
                        data: JSON.stringify(jsonDict),
                        async: false,
                        error: function(response) {
                            alert("setNumSold went wrong");
                        },
                    });
                    if (ajaxObj.status != 200) {
                        return false;
                    }
                }
                if (jsonDict.numLeft != $("#numLeftField").prop("defaultValue")) {
                    var ajaxObj = $.ajax({
                        url: "/api/item/setNumLeft",
                        type: "POST",
                        contentType: "application/json",
                        data: JSON.stringify(jsonDict),
                        async: false,
                        error: function(response) {
                            alert("setNumLeft went wrong");
                        },
                    });
                    if (ajaxObj.status != 200) {
                        return false;
                    }
                }
                uploadFile();
            }
        </script>
    {% endif %}
{% endblock %}

{% block body %}
    {% if currUser and currUser == item.user %}
        Item name <input type="text" id="nameField" value="{{item}}"/>
        <br/>
        {% if item.image %}
            <img src="{{item.image}}"/>
            <br/>
        {% endif %}
        upload or replace the pic?
        <br/>
        <input type="file" id="fileField" accept="image/*"/> max 10 MiB
        <br/>
        For this convention: <a href="/convention/{{item.convention.ID}}">{{item.convention}}</a>
        <br/>
        For this fandom: {{item.fandom}}
        <br/>
        This kind of item: {{item.kind}}
        <br/>
        Each one costs you {{item.cost}}
        <br/>
        Each one you're selling for {{item.price}}
        <br/>
        You sold <input type="number" min="0" id="numSoldField" value="{{item.numSold}}"/> already
        <br/>
        You have <input type="number" min="0" id="numLeftField" value="{{item.numLeft}}"/> left
        <br/>
        <a onclick="updateItem()" href="#">Submit</a>
    {% else %}
        Item name {{item}}
        <br/>
        {% if item.image %}
            <img src="{{pageUser.image}}"/>
            <br/>
        {% endif %}
        For this convention: <a href="/convention/{{item.convention.ID}}">{{item.convention}}</a>
        <br/>
        For this fandom: {{item.fandom}}
        <br/>
        This kind of item: {{item.kind}}
        <br/>
        Each one costs {{item.user}} {{item.cost}}
        <br/>
        Each one {{item.user}} is selling for {{item.price}}
        <br/>
        {{item.user}} has sold {{item.numSold}} already
        <br/>
        {{item.user}} has {{item.numLeft}} left
    {% endif %}
{% endblock %}
