{% extends "helper.html" %}

{% block head %}
    <title>Artistally Login</title>
    <script>
        function login() {
            val user = $("#userField").val();
            val pass = $("#passField").val();
            $.ajax({
                url: "/api/user/newUser",
                type: "POST",
                contentType: "application/json",
                data: "{'username':'" + user + "','password':'" + pass + "'}",
                success: function(response) {
                    window.location.href = "/";
                },
                error: function(response) {
                    alert("something went wrong");
                }
            });
        }
    </script>
{% endblock %}

{% block body %}
    <a href="/">Back to home</a>

    Login page.

    <input type="text" id="userField" placeholder="username">
    <input type="text" id="passField" placeholder="password">

    <a onclick="login()" href="#">Login!</a>
{% endblock %}
