{% extends "helper.html" %}

{% block head %}
    <title>Artistally Login</title>
    <script>
        function login() {
            var jsonDict = new Object();
            jsonDict.username = $("#userField").val();
            jsonDict.password = $("#passField").val();
            $.ajax({
                url: "/api/user/login",
                type: "POST",
                contentType: "application/json",
                data: JSON.stringify(jsonDict),
                success: function(response) {
                    window.location.href = "/";
                },
                error: function(response) {
                    alert("something went wrong");
                },
            });
        }
    </script>
{% endblock %}

{% block body %}
    <a href="/">Back to home</a>

    <br/>

    Login page.

    <br/>

    <input type="text" id="userField" placeholder="username"/>

    <br/>

    <input type="password" id="passField" placeholder="password"/>

    <br/>

    <a onclick="login()" href="#">Login!</a>
{% endblock %}
