{% extends "includes/helper.html" %}

{% block head %}
    <title>Artistally Login</title>
    <script>
        $(document).ready(function() {
            KEYUP = function(event) {
                if (event.keyCode == 13) {
                    $("#loginButton").click();
                }
            }
            $("#passField").keyup(KEYUP);
        });

        function login() {
            $("#passField").unbind("keyup", KEYUP);
            $("#loginButton").attr("disabled", true);
            var jsonDict = new Object();
            jsonDict.username = $("#userField").val();
            jsonDict.password = $("#passField").val();
            $.ajax({
                url: "/api/user/login",
                type: "POST",
                contentType: "application/json",
                data: JSON.stringify(jsonDict),
                success: function(response) {
                    window.location.href = "/";
                },
                error: function(response) {
                    alert("login went wrong");
                    $("#loginButton").attr("disabled", false);
                    setTimeout(function() {
                        $("#passField").keyup(KEYUP);
                    }, 222);
                },
            });
        }
    </script>
{% endblock %}

{% block body %}
    <div class="containery">
        <div class="centered centery">
            <div class="reg-form-wrapper">
                <sup><a href="/">&laquo; Go back home</a></sup>
                <br/>
                <h3>Sign in to your account</h3>
                <br/>
                <div class="input-group input-group-lg">
                    <span class="input-group-addon" id="login-addon"><i class="fa fa-user"></i></span>
                    <input type="text" class="form-control" id="userField" placeholder="Username" aria-describedby="login-addon"/>
                </div>
                <br/>
                <div class="input-group input-group-lg">
                    <span class="input-group-addon" id="password-addon"><i class="fa fa-key"></i></span>
                    <input type="password" class="form-control" id="passField" placeholder="Password" aria-describedby="password-addon"/>
                </div>

                <br/>
                <br/><a onclick="login()" id="loginButton" class="btn btn-custom-blue wide">Login</a>
                <br/>
                <br/><sub><a href="#">Forgot Password?</a></sub>
                <br/>
                <br/><sub><a href="/signup">Create a new account</a></sub>
            </div>
        </div>
    </div>
{% endblock %}
