{% extends "includes/helper.html" %}

{% block head %}
    <title>ArtisTally | My Conventions</title>
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-sm-2 sidebar">
            <div class="fixed">
                {% include "includes/sidebar.html" %}
            </div>

            <div class="col-sm-10 maincontent-wrapper">
                <a class="btn btn-custom-blue"><i class="fa fa-plus-circle fa-1x"></i> Add Convention</a>
                <div class="row">
                    <div class="col-sm-4">
                        
                    </div>
                    <div class="col-sm-4">
                    </div>
                    <div class="col-sm-4">
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% for con in currUser.conventions.all %}
        {{con}}
        <br/>
    {% endfor %}

{% endblock %}
