{% extends "includes/helper.html" %}

{% block head %}
    <title>ArtisTally | My Conventions</title>
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-2 sidebar">
                <div class="fixed">
                    {% include "includes/sidebar.html" %}
                </div>
            </div>
            <div class="col-md-10">
                <div class="my-section-wrapper border-wrapper">
                    <h1 class="title-wrapper">My Conventions</h1>
                    <br/>
<!--
                    Show conventions from:
                    <select class="form-control">
                        <option value="1">Last year</option>
                        <option value="2">Last 2 years</option>
                        <option value="3">Last 5 years</option>
                        <option value="4">Beginning of time</option>
                    </select>
                    <br/>
-->
                    {% if currUser.conventions.exists %}
                        {% for con in currUser.conventions.all %}
                            {% for event in con.events.all %}
                                <div class="convention-preview-wrapper">
                                    <div class="convention-preview-date">
                                        <p><span>{{event.startDate|date:"M"}}</span>
                                        {{event.startDate|date:"d"}}</p>
                                    </div>
                                    <div class="convention-preview-info">
                                        <h4>{{con}} {{event}}</h4>
                                        <a href="/convention/{{con.ID}}">View Convention Page &raquo;</a>
                                        <br/>
                                        <a href="/inventory/{{event.ID}}">View Convention Inventory &raquo;</a>
                                    </div>
                                </div>
                            {% endfor %}
                        {% endfor %}
                    {% else %}
                        No conventions to display.
                    {% endif %}
                    <br/>
                    <br/>
                    <a href="/search">Browse conventions</a> to add them to your conventions.
                </div>
            </div>
        </div>
    </div>
{% include "includes/modals.html" %}
{% endblock %}
