{% extends "includes/helper.html" %}

{% block head %}
    <title>ArtisTally | My Reviews</title>
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-2 sidebar">
                <div class="fixed">
                    {% include "includes/sidebar.html" %}
                </div>
            </div>
            <div class="col-md-10">
                <div class="my-section-wrapper border-wrapper">
                    <h1 class="title-wrapper">My Reviews</h1>
                    
                    This is a list of reviews you have written for conventions on this website.
                    <br/>
                    {% if currUser.writeups.exists %}
                        {% for writeup in currUser.writeups.all %}
                            <div class="review-entry">
                                <small>Review for <a href="/event/{{writeup.event.ID}}">{{writeup.event.convention}} {{writeup.event}}</a> | Entry created: {{writeup.writeTime|date:"M d, Y"}} | Entry edited: {{writeup.editTime|date:"M d, Y"}}</small>
                                <br/>
                                <div class="star-ratings-outer"><span id="{{writeup.user}}-rating" class="star-ratings-inner" style="width:{{writeup.rating|add:writeup.rating}}0%"></span></div>
                                <div class="main-entry-text">
                                    {{writeup.review}}
                                </div>
                                <br/>
                                <div class="text-center"><a href="/writeup/{{writeup.ID}}" class="btn btn-custom-blue">Edit Review</a></div>
                                <br/>
                                <hr/>
                            </div>
                        {% endfor %}
                    {% else %}
                        No reviews to display.
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
