{% extends "helper.html" %}

{% block head %}
    <title>ArtisTally Home</title>
{% endblock %}

{% block body %}
<div class="jumbotron jumbotron-landing">
    <div class="container centered">
        <h1> Find the best venue for you.</h1>
    </div>
</div>
<div class="container centered">
    <h3>Designed by an artist for artists.</h3>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <div class="row">
        <div class="col-md-4">Keep track of sales wherever you go.</div>
        <div class="col-md-4">View trends at different venues.</div>
        <div class="col-md-4">Find out what other artists are saying.</div>
    </div>  
</div>
<br/>
<br/>
<br/>
<br/>
<div class="jumbotron jumbotron-landing">
    <div class="container centered">
        <h1>Sign up today!</h1>
    </div>
</div>
{% endblock %}
