{% extends "helper.html" %}

{% block head %}
    <title>ArtisTally | Home</title>
{% endblock %}

{% block body %}

{% if currUser %}

<div class="row">
    <div class="col-sm-3 sidebar">
        <div class="fixed">
            {% include "sidebar.html" %}
        </div>
    </div>

    <div class="col-sm-9">
        <h1>Welcome back, {{currUser}}!</h1>
        
        View data from: <input type="date"> to: <input type="date">
        <div class="row">
            <div class="col-sm-4"><h3>5</h3>
            conventions attended</div>
            <div class="col-sm-4"><h3>$400.23</h3>
            net profit</div>
            <div class="col-sm-4"><h3>234</h3>
            items sold</div>
        </div>
        <br/>
        graphs and stuff go here
        <br/>
        <img src="/static/images/chart.png"/> <img src="/static/images/chart.png"/> <img src="/static/images/chart.png"/>
        <br/>
        <img src="/static/images/chart.png"/> <img src="/static/images/chart.png"/>
        <br/>
        <img src="/static/images/chart.png"/>
        <br/>
        <img src="/static/images/chart.png"/>
    </div>
</div>

{% else %}

<div class="jumbotron">
    <div class="container">
        <div class="containery">
        <div class="centery">
            <h1>Find the best artist alley for you.</h1>
        </div>
        </div>
    </div>
</div>
<div class="container centered splash-section-wrapper">
    <h3>Designed by an artist for artists.</h3>
    <div class="row">
        
        <div class="col-md-4"><img src="/static/images/icon-phone.png" class="splash-icon"/>
            <br/>Keep track of sales wherever you go.</div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam a purus et nibh tempor cursus quis efficitur massa. Integer accumsan lectus vel turpis rhoncus pulvinar. Mauris gravida id velit eget rutrum. Fusce enim felis, placerat eget odio ut, sodales malesuada tellus. Proin gravida metus nulla, non faucibus urna rutrum at. Suspendisse mattis euismod molestie. Donec gravida convallis condimentum.</p>
        <div class="col-md-4"><img src="/static/images/icon-graph.png" class="splash-icon"/>
            </br/>View sales trends at each venue.</div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam a purus et nibh tempor cursus quis efficitur massa. Integer accumsan lectus vel turpis rhoncus pulvinar. Mauris gravida id velit eget rutrum. Fusce enim felis, placerat eget odio ut, sodales malesuada tellus. Proin gravida metus nulla, non faucibus urna rutrum at. Suspendisse mattis euismod molestie. Donec gravida convallis condimentum.</p>
        <div class="col-md-4"><img src="/static/images/icon-thumbs.png" class="splash-icon"/>
            </br/>Find out what other artists think.</div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam a purus et nibh tempor cursus quis efficitur massa. Integer accumsan lectus vel turpis rhoncus pulvinar. Mauris gravida id velit eget rutrum. Fusce enim felis, placerat eget odio ut, sodales malesuada tellus. Proin gravida metus nulla, non faucibus urna rutrum at. Suspendisse mattis euismod molestie. Donec gravida convallis condimentum.</p>
    </div>  
</div>
<div class="jumbotron">
    <div class="container centered">
        <h1>Sign up today!</h1>
        <button class="btn-custom-white"></button>
    </div>
</div>

{% endif %}

{% endblock %}
