{% extends "includes/helper.html" %}

{% block head %}
    <title>ArtisTally | Search Conventions</title>
{% endblock %}

{% block body %}
    <div class="container">
        <div class="section-wrapper border-wrapper">
            {% if query %}
                <h2 class="title-wrapper">Search results for "{{query}}"</h2>
            {% else %}
                <h2 class="title-wrapper">All Conventions</h2>
            {% endif %}
            {% for con in cons %}
                <a href="/convention/{{con.ID}}">{{con}}</a>
                <br/>
            {% endfor %}
            
            <br/>
            Couldn't find the convention you were looking for?
            <br/><a href="/addconvention/">Add a new one!</a>
            
        </div>
    </div>
{% endblock %}
