{% extends "includes/helper.html" %}

{% block head %}
    <title>Artistally Signup</title>
    <script>
        function signup() {
            var jsonDict = new Object();
            jsonDict.username = $("#userField").val();
            jsonDict.password = $("#passField1").val();
            jsonDict.email = $("#emailField").val();
            if (jsonDict.password != $("#passField2").val()) {
                alert("Your passwords do not match, please try again.");
            } else {
                $.ajax({
                    url: "/api/user/newUser",
                    type: "POST",
                    contentType: "application/json",
                    data: JSON.stringify(jsonDict),
                    success: function(response) {
                        window.location.href = "/";
                    },
                    error: function(response) {
                        alert("newUser went wrong");
                    },
                });
            }
        }
    </script>
{% endblock %}

{% block body %}

<div class="containery">
    <div class="centered centery">
    <a href="/">Back to home</a>

    <br/>

    <h3>User Registration</h3>
    <br/>
    <input type="text" class="login-reg-input" id="userField" placeholder="username"/>
    <br/>
    <input type="password" class="login-reg-input" id="passField1" placeholder="password"/>
    <br/>
    <input type="password" class="login-reg-input" id="passField2" placeholder="reenter password"/>
    <br/>
    <input type="email" class="login-reg-input" id="emailField" placeholder="email"/>
    <br/>
    <br/>
    <br/>
    
    <button onclick="signup()" class="btn btn-custom-blue">Register</button>
    </div>
</div>
{% endblock %}
