{% extends "includes/helper.html" %}

{% block head %}
    <title>Artistally Signup</title>
    <script>
        $(function() {
            KEYUP = function(event) {
                if (event.keyCode == 13) {
                    $("#registerButton").click();
                }
            }
            $("#emailField").keyup(KEYUP);
        });

        function login() {
            var jsonDict = new Object();
            jsonDict.username = $("#userField").val();
            jsonDict.password = $("#passField1").val();
            $.ajax({
                url: "/api/user/login",
                type: "POST",
                contentType: "application/json",
                data: JSON.stringify(jsonDict),
                success: function(response) {
                    window.location.href = "/";
                },
                error: function(response) {
                    alert('Please sign in! \n Error - ' + JSON.parse(response.responseText).error);
                },
            });
        }
        
        function signup() {
            $("#emailField").unbind("keyup", KEYUP);
            $("#registerButton").attr("disabled", true);
            var jsonDict = new Object();
            jsonDict.username = $("#userField").val();
            jsonDict.password = $("#passField1").val();
            jsonDict.email = $("#emailField").val();
            if (jsonDict.password != $("#passField2").val()) {
                alert("Your passwords do not match, please try again.");
                $("#registerButton").attr("disabled", false);
            } else {
                $.ajax({
                    url: "/api/user/newUser",
                    type: "POST",
                    contentType: "application/json",
                    data: JSON.stringify(jsonDict),
                    success: function(response) {
                        login();
                    },
                    error: function(response) {
                        alert('Registration failed! \n Error - ' + JSON.parse(response.responseText).error);
                        $("#registerButton").attr("disabled", false);
                        setTimeout(function() {
                            $("#emailField").keyup(KEYUP);
                        }, 222);
                    },
                });
            }
        }
    </script>
{% endblock %}

{% block body %}
<div class="form-wrapper reg-form-wrapper">
    <p class="text-center"><sub><a href="/">&laquo; Go back home</a></sub></p>
    <br/>
    <h3 class="text-center">User Registration</h3>
    <br/>
    <div class="form-group">
        <label for="userField" class="required">Username</label>
        <div class="input-group input-group-lg">
            <span class="input-group-addon" id="login-addon"><i class="fa fa-user"></i></span>
            <input type="text" class="form-control" id="userField" aria-describedby="login-addon"/>
        </div>
    </div>
    <div class="form-group">
        <label for="passField2" class="required">Password</label>
        <div class="input-group input-group-lg">
            <span class="input-group-addon" id="password1-addon"><i class="fa fa-key"></i></span>
            <input type="password" class="form-control" id="passField1" aria-describedby="password1-addon"/>
        </div>
    </div>
    <div class="form-group">
        <label for="passField2" class="required">Confirm Password</label>
        <div class="input-group input-group-lg">
            <span class="input-group-addon" id="password2-addon"><i class="fa fa-key"></i></span>
            <input type="password" class="form-control" id="passField2" aria-describedby="password2-addon"/>
        </div>
    </div>
    <div class="form-group">
        <label for="emailField" class="required">Email Address</label>
        <div class="input-group input-group-lg">
            <span class="input-group-addon" id="email-addon"><i class="fa fa-envelope"></i></span>
            <input type="email" class="form-control" id="emailField" aria-describedby="login-addon"/>
        </div>
    </div>
    <br/>
    <br/>
    <p class="text-center">
    <a onclick="signup()" id="registerButton" class="btn btn-custom-blue wide">Register</a>
    <br/>
    <br/><sub><a href="/login">Login with existing account</a></sub></p>
</div>
{% endblock %}
