{% extends "includes/helper.html" %}

{% block head %}
    <title>Artistally | {{pageUser}} User Profile</title>
{% endblock %}

{% block body %}
    <div class="container">
        <div class="form-wrapper border-wrapper">
            <h1 class="text-center title-wrapper">{{pageUser}}'s Profile</h1>
            <div class="row">
                <div class="col-sm-3">
                    <div class="text-center">
                        {% if pageUser.image %}
                            <img src="{{pageUser.image}}" class="user-icon-large">
                        {% else %}
                            <img src="/static/images/icon-default.png" class="user-icon-large"/>
                        {% endif %}
                        <br/>
                        {{pageUser}}
                    </div>
                </div>
                <div class="col-sm-9">
                    <div class="row">
                        <div class="col-sm-4"><b>Year Starting Artist Alley:</b></div>
                        <div class="col-sm-8">{% if pageUser.startYear %}{{pageUser.startYear}}{% endif %}</div>
                    </div>
                    {% if pageUser.website1 %}
                        <br/>
                        <div class="row">
                            <div class="col-sm-2"><b>URL:</b></div>
                            <div class="col-sm-10">{{pageUser.website1}}</div>
                        </div>
                    {% endif %}
                    {% if pageUser.website2 %}
                        <br/>
                        <div class="row">
                            <div class="col-sm-2"><b>URL:</b></div>
                            <div class="col-sm-10">{{pageUser.website2}}</div>
                        </div>
                    {% endif %}
                    {% if pageUser.website3 %}
                        <br/>
                        <div class="row">
                            <div class="col-sm-2"><b>URL:</b></div>
                            <div class="col-sm-10">{{pageUser.website3}}</div>
                        </div>
                    {% endif %}
                    {% if pageUser.description %}
                        <br/>
                        <div class="row">
                            <div class="col-sm-2"><b>Description:</b></div>
                            <div class="col-sm-10">{{pageUser.description}}</div>
                        </div>
                    {% endif %}
                </div>
            </div>
            {% if pageUser == currUser %}
                <p class="text-right"><a href="/edituser" class="btn btn-custom-blue wide">Update Profile</a></p>
            {% endif %}
        </div>
    </div>
{% endblock %}