{% extends "includes/helper.html" %}

{% block head %}
    <title>Artistally Writeup by {{writeup.user}} about {{writeup.convention}}</title>
    {% if currUser and currUser == writeup.user %}
        <script>
            $(function() {
             //check correct review radio button
                $("#r" + {{writeup.rating}}).attr("checked", true);
            });
            
            function updateWriteup() {
                var jsonDict = new Object();
                jsonDict.writeupID = {{writeup.ID}};
                jsonDict.rating = $("#ratingField").val();
                jsonDict.review = $("#reviewField").val();
                jsonDict.miscCosts = $("#miscCostsField").val();
                if (jsonDict.rating != $("#ratingField").prop("defaultValue")) {
                    var ajaxObj = $.ajax({
                        url: "/api/writeup/setRating",
                        type: "POST",
                        contentType: "application/json",
                        data: JSON.stringify(jsonDict),
                        async: false,
                        error: function(response) {
                            alert("setRating went wrong");
                        },
                    });
                    if (ajaxObj.status != 200) {
                        return false;
                    }
                }
                if (jsonDict.review != $("#reviewField").prop("defaultValue")) {
                    var ajaxObj = $.ajax({
                        url: "/api/writeup/setReview",
                        type: "POST",
                        contentType: "application/json",
                        data: JSON.stringify(jsonDict),
                        async: false,
                        error: function(response) {
                            alert("setReview went wrong");
                        },
                    });
                    if (ajaxObj.status != 200) {
                        return false;
                    }
                }
            
                $("alerts").after("<div class='alert alert-success' role='alert'>Your review has been updated!</div>");
                //window.location.reload(true);
            }
        </script>
    {% endif %}
{% endblock %}

{% block body %}

<div class="container">
    <div class="form-wrapper">
        {% if currUser and currUser == writeup.user %}
        <h1 class="text-center title-wrapper">Edit your review for <b>{{writeup.convention}}</b></h1>
        <div class="review-entry">
            <div class="side-entry">
                <a href="/user/{{currUser}}">
                {% if currUser.image %}
                    <img src="{{currUser.image}}" class="user-icon-large">
                {% else %}
                    <img src="/static/images/icon-default.png" class="user-icon-large">
                {% endif %}</a>
                <br/><a href="/user/{{currUser}}"><b>{{currUser}}</b></a>
                <br/>{{writeup.editTime|date:"M d, Y"}}
                {% if writeup.editTime.timestamp > writeup.writeTime.timestamp|add:1 %}
            <br/> Last edit {{writeup.editTime|date:"M d, Y"}}
            {% endif %}
            </div>
            <div class="main-entry">
                 Rating:
                <span class="star-rating">
                    <input type="radio" name="ratingField" id="r1" value="1"><i></i>
                    <input type="radio" name="ratingField" id="r2" value="2"><i></i>
                    <input type="radio" name="ratingField" id="r3" value="3"><i></i>
                    <input type="radio" name="ratingField" id="r4" value="4"><i></i>
                    <input type="radio" name="ratingField" id="r5" value="5"><i></i>
                </span>
                <br/>
                <div class="form-group">
                    <label for="reviewField">Review:</label>
                    <textarea class="form-control" rows="10" id="reviewField">{{writeup.review}}</textarea>
                </div>
                <p class="text-right"><a onclick="updateWriteup()" class="btn btn-custom-blue">Update</a></p>
            </div>
        </div>
    </div>
</div>
    {% else %}
    
    <!-- ============ 404 page ============-->
    
    {% endif %}
{% endblock %}

