html {
    position: relative;
    min-height: 100%;
}

body {
    padding-top: 53px;
    font-family: "Open Sans", sans-serif;
    color: #605063;
    padding-bottom: 100px; /* footer height */
    min-height: 500px;
    overflow-x: hidden;
    background: url("/static/images/geometry.png") repeat;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0px;
    margin-bottom: 4px;
    font-family: "Playfair Display", serif;
/*    text-transform: uppercase;*/
    font-weight: 700;
}

a:link {
    color: ##605063;
}

h3.lowercase {
    text-transform: none;
    font-weight: 500;
}

footer {
    background-color: #9ccceb;
    color: white;
    text-align: center;
    width: 100%;
    height: 100px; /* change body margin-bottom accordingly */
    padding: 25px;
    position: absolute;
    bottom:0;
}

textarea {
    resize: none;
    height: 100%;
}

th, td {
    text-align: right;   
}

.hidden {
    height: 0px;
    overflow: hidden;
}

.fixed {
    position: fixed;
    overflow-y: auto;
}

.searchbox {
    background-color: white;
    border: 2px solid white;
    color: ##605063;
    border-radius: 30px; 
    -moz-border-radius: 30px; 
    -webkit-border-radius: 30px; 
    height: 100%;
    transition: all .5s ease;
}

.searchbox:focus {
    border: 2px solid white;
}

.containery {
    height: 100%;
    white-space: nowrap;
    text-align: center;   
}

.containery:before{
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 0;
    /* adjust for white space between pseudo element and next sibling */
    margin-right: -.25em;
    /* stretch line height */
    height: 100%; 
}

.centery {
    display: inline-block;
    vertical-align: middle;
    white-space: normal;
}

.dash-box {
    padding: 30px 20px;
    margin: 20px 20px;
    border-color: #9ccceb;
    border-style: solid;
    border-radius: 5px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
}

#wrap {
    min-height: 100%;
    height: auto !important;
}

.splash-icon {
    height: 75px;
    margin: 20px 0px;
}

.user-icon {
    width: 30px;
    height: 30px;
    border-radius: 15px;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15x;
}

.user-icon-large {
    width: 100px;
    height: 100px;
    border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
}

.required:before{
 content:"* " ;
color:red    
}


/* ------------------------------------------------- */
/* ----------------- NAVBAR COLORS ----------------- */
/* ------------------------------------------------- */

.navbar-default {
  background-image: none;
  background-color: #9ccceb;
  border-color: #9ccceb;
}

.navbar-default .navbar-brand {
  color: #ffffff;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: #605063;
}
.navbar-default .navbar-text {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > a {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #605063;
}
    
.navbar-default .navbar-nav > li > .dropdown-menu {
  background-image: none;
  background-color: #ffffff;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a {
  color: #605063;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:focus {
  color: #ffffff;
  background-image: none;
  background-color: #9ccceb;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > .divider {
  background-image: none;
  background-color: #ffffff;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: #605063;
  background-image: none;
  background-color: #9ccceb;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  color: #605063;
  background-image: none;
  background-color: #9ccceb;
}
.navbar-default .navbar-toggle {
  border-color: #9ccceb;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-image: none;
  background-color: #9ccceb;
}
.navbar-default .navbar-toggle .icon-bar {
  background-image: none;
  background-color: #ffffff;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #ffffff;
}
.navbar-default .navbar-link {
  color: #ffffff;
}
.navbar-default .navbar-link:hover {
  color: #605063;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ffffff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #605063;
  }

  .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #605063;
    background-image: none;
    background-color: #9ccceb;
  }
}

.navbar-default .navbar-nav > li > a.img-nav-item {
  padding: 8px;
}

.searchbox-wrapper {
    display: inline-block;
    width: 78%;
    text-align: center;
}

.navbar-center {
    display: inline-block;
}

.navbar-brand {
    padding: 5px;
    margin: 0;
}

.navbar-brand img {
    height: 100%;
    vertical-align: middle;
}

.nav.nav-sidebar {
    padding: 15px;
}

/* BOOTSTRAP OVERRIDES */
/*
.input-group-addon {
    background-color: #605063;   
}
*/

/* BUTTONS */

.form-custom-white {
    background: white;
    border: 2px solid white;
    color: #605063;
    border-radius: 30px; 
    -moz-border-radius: 30px; 
    -webkit-border-radius: 30px; 
    height: 100%;
}

.btn-custom-white {
    background: none;
    border: 2px solid white;
    color: white;
    border-radius: 30px; 
    -moz-border-radius: 30px; 
    -webkit-border-radius: 30px;
}

.btn-custom-blue {
    background: #ccdee0;
    color: #605063;
    border-bottom: 4px solid #ccc;
    border-radius: 10px;
    -moz-border-radius: 10px; 
    -webkit-border-radius: 10px; 
}

.btn .wide {
    width: 100%;
}


/* ------------------------------------------------- */
/* --------------------- FORMS --------------------- */
/* ------------------------------------------------- */



.jumbotron {
    position: relative;
    background: #000 url("/static/images/hero-bg.jpg") center center;
    width: 100%;
    height: 100%;
    background-size: cover;
    overflow: hidden;
    text-shadow: 0 0 3px #FFFFFF;
    color: #FFFFFF;
}

.jumbotron-convention {
    height: 315px;
    background: #000 url("/static/images/banner-sakura.jpg") center center;
    background-size: cover;
    border: 1px solid #ccc;
}

.sidebar {
    height: 100%;
}

.main-container {
    padding: 10px;   
}

/* -------------------------------------------- */
/* ----------------- WRAPPERS ----------------- */
/* -------------------------------------------- */
.title-wrapper {
    margin-bottom: 30px;   
}

.splash-section-wrapper {
    margin: 50px 0px;
}

.sidebar-wrapper {
    padding-top: 20px;
}

.maincontent-wrapper {
    padding: 40px 20px;
}

.border-wrapper {
    border: 1px solid #ccc;
    border-radius: 10px; 
    -moz-border-radius: 10px; 
    -webkit-border-radius: 10px;
    background-color: #ffffff;
}

.section-wrapper {
    margin: 20px 0px;  
    padding: 10px 15px;
}

.form-wrapper {
    padding: 30px 50px;
    border: 1px solid #ccc;
    margin: 100px 0px;
    border-radius: 10px; 
    -moz-border-radius: 10px; 
    -webkit-border-radius: 10px;
    background-color: #ffffff;
}

.convention-form-wrapper {
    margin-left: 10%;
    margin-right: 10%;
}

.reg-form-wrapper {
    margin-left: 35%;
    margin-right: 35%;
}

.item-fit {
    max-width: 100%;
    max-height: 100%;
}

.edit-review-wrapper {
    height: 400px;   
    width: 100%;
    position: relative;
    display: inline-block;
}

.convention-preview-wrapper {
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    width: 300px;
    display: inline-block;
    background-color: #ffffff;
}

.convention-preview-info-wrapper {
/*    padding: 10px;*/
    height: 80px;
}

/* ------------------------------------------------- */
/* ----------------- MY CONVENTIONS ---------------- */
/* ------------------------------------------------- */

.convention-preview-lists {
/*    height: 100%;  */
}

img.convention-preview {
    width: 100%;
    height: 200px;
    background-image: url('/static/images/banner-sakura.jpg');
    border: 0px;
    background-size: contain;
    border-top-left-radius: 10px; 
    border-top-right-radius: 10px; 
    -moz-border-top-left-radius: 10px; 
    -moz-border-top-right-radius: 10px; 
    -webkit-border-top-left-radius: 10px;
    -webkit-border-top-right-radius: 10px;
}

.convention-preview-date {
    width: 20%; 
    height: 100%;
    padding: 10px;
    float: left;
    border-right: 1px solid #ccc;
}

.convention-preview-date p {
    font-size: 25px;
    text-align: center;
    font-weight: bold;
}

.convention-preview-date p span {
    font-size: 15px;
    text-transform: uppercase;
}

.convention-preview-info {
    padding: 10px;
    width: 80%;
    float: right;
/*    border-left: 1px solid #ccc;   */
}


/* ----------------------------------------------- */
/* ----------------- STAR RATING ----------------- */
/* ----------------------------------------------- */
.star-ratings-outer {
  background: url("/static/images/stars.png") repeat-x;
  font-size: 0;
  height: 21px;
  line-height: 0;
  overflow: hidden;
  text-indent: -999em;
  width: 110px;
}
.star-ratings-inner {
    background: url("/static/images/stars.png") repeat-x;
    background-position: 0 100%;
    float: left;
    height: 21px;
    display:block;
}

.star-rating {
  font-size: 0;
  white-space: nowrap;
  display: inline-block;
  width: 110px;
  height: 21px;
  overflow: hidden;
  position: relative;
  background: url("/static/images/stars.png");
/*  background-size: contain;*/
}
.star-rating i {
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 20%;
  z-index: 1;
  background: url("/static/images/stars.png");
    background-position: 0 100%;
/*  background-size: contain;*/
}
.star-rating input {
  -moz-appearance: none;
  -webkit-appearance: none;
  opacity: 0;
  display: inline-block;
  width: 20%;
  height: 100%;
  margin: 0;
  padding: 0;
  z-index: 2;
  position: relative;
}
.star-rating input:hover + i,
.star-rating input:checked + i {
  opacity: 1;
}
.star-rating i ~ i {
  width: 40%;
}
.star-rating i ~ i ~ i {
  width: 60%;
}
.star-rating i ~ i ~ i ~ i {
  width: 80%;
}
.star-rating i ~ i ~ i ~ i ~ i {
  width: 100%;
}
.choice {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
  padding: 20px;
  display: block;
}

/* ----------------------------------------------- */
/* --------------- CONVENTION PAGE --------------- */
/* ----------------------------------------------- */
.con-header {
    width: 100%;
    position: relative;
    border: 1px solid #ccc;
    border-top: none;
    display: inline-block;
    height: 76px;
    padding-left: 15px;
    padding-right: 15px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    -moz-border-bottom-left-radius: 10px; 
    -moz-border-bottom-right-radius: 10px; 
    -webkit-border-bottom-left-radius: 10px;
    -webkit-border-bottom-right-radius: 10px;
    background-color: #ffffff;
}

.con-header .cell {
    padding: 10px;
    /*border-left: 1px solid #ccc;*/
    margin: 0 auto;
    float: right;
    height: 100%;
}

.con-header .main-info {
    float: left !important;
    border: none !important;
}

.review-entry {
    width: 100%;
    position: relative;
    display: inline-block;
}

.side-entry {
    width: 20%;
    float: left;
    padding-top: 30px;
}

.main-entry {
    width: 80%;
    float: right;
}

.main-entry-text {
    height: 200px;
    padding-top: 5px;
    margin-right: 30px;
    overflow: hidden;
}

/* ----------------------------------------------- */
/* --------------- INVENTORY PAGE ---------------- */
/* ----------------------------------------------- */
#item-form {
    display: none;
}