html {
    position: relative;
    min-height: 100%;
}

body {
    padding-top: 53px;
    font-family: "Open Sans", sans-serif;
    color: #605063;
    margin-bottom: 100px; /* footer height */
    overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0px;
    margin-bottom: 4px;
    text-transform: uppercase;
    font-weight: 700;
}

h3.lowercase {
    text-transform: none;
    font-weight: 500;
}

footer {
    background-color: #9ccceb;
    color: white;
    text-align: center;
    width: 100%;
    height: 100px; /* change body margin-bottom accordingly */
    padding: 25px;
    position: absolute;
    bottom:0;
}

textarea {
    resize: none;   
}

textarea#reviewField {
    width: 100%;
    height: 120px;
}

.centered {
    text-align: center;
}

.right {
    text-align: right;   
}

.fixed {
    position: fixed;
    overflow-y: auto;
}

.searchbox {
    background-color: white;
    border: 2px solid white;
    color: ##605063;
    border-radius: 30px; 
    -moz-border-radius: 30px; 
    -webkit-border-radius: 30px; 
    height: 100%;
    transition: all .5s ease;
}

.searchbox:focus {
    border: 2px solid white;
}

.containery {
    height: 100%;
    white-space: nowrap;
    text-align: center;   
}

.containery:before{
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 0;
    /* adjust for white space between pseudo element and next sibling */
    margin-right: -.25em;
    /* stretch line height */
    height: 100%; 
}

.centery {
    display: inline-block;
    vertical-align: middle;
    white-space: normal;
}

.login-reg-input {
    height:40px;
    font-size:14pt;
}

#wrap {
    min-height: 100%;
    height: auto !important;
}

.splash-icon {
    height: 75px;
    margin: 20px 0px;
}

.user-icon {
    width: 30px;
    height: 30px;
    border-radius: 15px;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15x;
}

.user-icon-large {
    width: 150px;
    height: 150px;
    border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
}


/* ------------------------------------------------- */
/* ----------------- NAVBAR COLORS ----------------- */
/* ------------------------------------------------- */

.navbar-default {
  background-image: none;
  background-color: #9ccceb;
  border-color: #9ccceb;
}

.navbar-default .navbar-brand {
  color: #ffffff;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: #605063;
}
.navbar-default .navbar-text {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > a {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #605063;
}
    
.navbar-default .navbar-nav > li > .dropdown-menu {
  background-image: none;
  background-color: #ffffff;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a {
  color: #605063;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:focus {
  color: #ffffff;
  background-image: none;
  background-color: #9ccceb;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > .divider {
  background-image: none;
  background-color: #ffffff;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: #605063;
  background-image: none;
  background-color: #9ccceb;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  color: #605063;
  background-image: none;
  background-color: #9ccceb;
}
.navbar-default .navbar-toggle {
  border-color: #9ccceb;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-image: none;
  background-color: #9ccceb;
}
.navbar-default .navbar-toggle .icon-bar {
  background-image: none;
  background-color: #ffffff;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #ffffff;
}
.navbar-default .navbar-link {
  color: #ffffff;
}
.navbar-default .navbar-link:hover {
  color: #605063;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ffffff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #605063;
  }

  .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #605063;
    background-image: none;
    background-color: #9ccceb;
  }
}

.navbar-default .navbar-nav > li > a.img-nav-item {
  padding: 8px;
}

.searchbox-wrapper {
    display: inline-block;
    width: 78%;
    text-align: center;
}

.navbar-center {
    display: inline-block;
}

.navbar-brand {
    padding: 5px;
    margin: 0;
}

.navbar-brand img {
    height: 100%;
    vertical-align: middle;
}

.nav.nav-sidebar {
    padding: 15px;
}

.form-custom-white {
    background: white;
    border: 2px solid white;
    color: #605063;
    border-radius: 30px; 
    -moz-border-radius: 30px; 
    -webkit-border-radius: 30px; 
    height: 100%;
}

.btn-custom-white {
    background: none;
    border: 2px solid white;
    color: white;
    border-radius: 30px; 
    -moz-border-radius: 30px; 
    -webkit-border-radius: 30px; 
}

.btn-custom-blue {
    background: #ccdee0;
    color: #605063;
    border-radius: 10px; 
    -moz-border-radius: 10px; 
    -webkit-border-radius: 10px; 
}

.jumbotron {
    position: relative;
    background: #000 url("/static/images/hero-bg.jpg") center center;
    width: 100%;
    height: 100%;
    background-size: cover;
    overflow: hidden;
    text-shadow: 0 0 3px #FFFFFF;
    color: #FFFFFF;
}

.jumbotron-convention {
    height: 315px;
    background: #000 url("/static/images/banner-sakura.jpg") center center;
    background-size: cover;
}

/* -------------------------------------------- */
/* ----------------- WRAPPERS ----------------- */
/* -------------------------------------------- */
.splash-section-wrapper {
    margin: 50px 0px;   
}

.section-wrapper {
    margin: 20px 0px;   
}

.convention-header-wrapper {
    padding-top: 15px;
}

/* ----------------------------------------------- */
/* ----------------- STAR RATING ----------------- */
/* ----------------------------------------------- */
.star-rating {
  font-size: 0;
  white-space: nowrap;
  display: inline-block;
  width: 100px;
  height: 20px;
  overflow: hidden;
  position: relative;
  background: url('data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB3aWR0aD0iMjBweCIgaGVpZ2h0PSIyMHB4IiB2aWV3Qm94PSIwIDAgMjAgMjAiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDIwIDIwIiB4bWw6c3BhY2U9InByZXNlcnZlIj48cG9seWdvbiBmaWxsPSIjREREREREIiBwb2ludHM9IjEwLDAgMTMuMDksNi41ODMgMjAsNy42MzkgMTUsMTIuNzY0IDE2LjE4LDIwIDEwLDE2LjU4MyAzLjgyLDIwIDUsMTIuNzY0IDAsNy42MzkgNi45MSw2LjU4MyAiLz48L3N2Zz4=');
  background-size: contain;
}
.star-rating i {
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 20%;
  z-index: 1;
  background: url('data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB3aWR0aD0iMjBweCIgaGVpZ2h0PSIyMHB4IiB2aWV3Qm94PSIwIDAgMjAgMjAiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDIwIDIwIiB4bWw6c3BhY2U9InByZXNlcnZlIj48cG9seWdvbiBmaWxsPSIjRkZERjg4IiBwb2ludHM9IjEwLDAgMTMuMDksNi41ODMgMjAsNy42MzkgMTUsMTIuNzY0IDE2LjE4LDIwIDEwLDE2LjU4MyAzLjgyLDIwIDUsMTIuNzY0IDAsNy42MzkgNi45MSw2LjU4MyAiLz48L3N2Zz4=');
  background-size: contain;
}
.star-rating input {
  -moz-appearance: none;
  -webkit-appearance: none;
  opacity: 0;
  display: inline-block;
  width: 20%;
  height: 100%;
  margin: 0;
  padding: 0;
  z-index: 2;
  position: relative;
}
.star-rating input:hover + i,
.star-rating input:checked + i {
  opacity: 1;
}
.star-rating i ~ i {
  width: 40%;
}
.star-rating i ~ i ~ i {
  width: 60%;
}
.star-rating i ~ i ~ i ~ i {
  width: 80%;
}
.star-rating i ~ i ~ i ~ i ~ i {
  width: 100%;
}
.choice {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
  padding: 20px;
  display: block;
}

#star-rating-outer {
    display: block;
    background: url('data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB3aWR0aD0iMjBweCIgaGVpZ2h0PSIyMHB4IiB2aWV3Qm94PSIwIDAgMjAgMjAiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDIwIDIwIiB4bWw6c3BhY2U9InByZXNlcnZlIj48cG9seWdvbiBmaWxsPSIjREREREREIiBwb2ludHM9IjEwLDAgMTMuMDksNi41ODMgMjAsNy42MzkgMTUsMTIuNzY0IDE2LjE4LDIwIDEwLDE2LjU4MyAzLjgyLDIwIDUsMTIuNzY0IDAsNy42MzkgNi45MSw2LjU4MyAiLz48L3N2Zz4=');
    height: 20px;
    width: 100px;
}

#star-rating-inner {
    display: block;
    background: url('data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB3aWR0aD0iMjBweCIgaGVpZ2h0PSIyMHB4IiB2aWV3Qm94PSIwIDAgMjAgMjAiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDIwIDIwIiB4bWw6c3BhY2U9InByZXNlcnZlIj48cG9seWdvbiBmaWxsPSIjRkZERjg4IiBwb2ludHM9IjEwLDAgMTMuMDksNi41ODMgMjAsNy42MzkgMTUsMTIuNzY0IDE2LjE4LDIwIDEwLDE2LjU4MyAzLjgyLDIwIDUsMTIuNzY0IDAsNy42MzkgNi45MSw2LjU4MyAiLz48L3N2Zz4=');
    height: 20px;
    width: 0px;
}