html {
    position: relative;
    min-height: 100%;
}

body {
    padding-top: 50px;
    font-family: "Open Sans", sans-serif;
    color: #605063;
    padding-bottom: 100px; /* footer height */
    min-height: 500px;
    overflow-x: hidden;
    background: url("/static/images/geometry.png") repeat;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0px;
    margin-bottom: 4px;
    font-family: "Playfair Display", serif;
/*    text-transform: uppercase;*/
    font-weight: 700;
}

a:link {
    color: ##605063;
}

h3.lowercase {
    text-transform: none;
    font-weight: 500;
}

footer {
    background-color: #9ccceb;
    color: white;
    text-align: center;
    width: 100%;
    height: 100px; /* change body margin-bottom accordingly */
    padding: 25px;
    position: absolute;
    bottom:0;
}

textarea {
    resize: none;
    height: 100%;
}

/*
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
*/

th, td {
/*    text-align: right;   */
}

.hidden {
    height: 0px;
    overflow: hidden;
}

.fixed {
    position: fixed;
    overflow-y: auto;
}

.searchbox {
    background-color: white;
    border: 2px solid white;
    color: ##605063;
    border-radius: 10px; 
    -moz-border-radius: 10px; 
    -webkit-border-radius: 10px; 
    height: 100%;
}

.searchbox:focus {
    border: 2px solid white;
}

.containery {
    height: 100%;
    white-space: nowrap;
    text-align: center;   
}

.containery:before{
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 0;
    /* adjust for white space between pseudo element and next sibling */
    margin-right: -.25em;
    /* stretch line height */
    height: 100%; 
}

.centery {
    display: inline-block;
    vertical-align: middle;
    white-space: normal;
}

.dash-box {
    padding: 30px 10px;
    margin-bottom: 20px;
/*    height: 150px;*/
    min-width: 150px;
    max-width: 350px;
    border-color: #9ccceb;
    background-color: #ccdee0;
    border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
    white-space: nowrap;
}

#wrap {
    min-height: 100%;
    height: auto !important;
}

.splash-icon {
    height: 120px;
    margin: 20px 10px;
}

.user-icon {
    width: 30px;
    height: 30px;
    border-radius: 15px;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15x;
}

.user-icon-large {
    width: 100px;
    height: 100px;
    border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
}

.user-icon-xl {
    width: 300px;
    height: 300px;
    border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
}

.required:before{
    content:"* " ;
    color:red    
}

.alert {
    background-image: none;
    margin-top: 10px;
    z-index: 10;
    position: absolute;
    left: 30%;
    right: 30%;
}

/* ------------------------------------------------- */
/* ----------------- NAVBAR COLORS ----------------- */
/* ------------------------------------------------- */

.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
 }

.navbar-default {
  background-image: none;
  background-color: #9ccceb;
  border-color: #9ccceb;
}

.navbar-default .navbar-brand {
  color: #ffffff;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: #605063;
}
.navbar-default .navbar-text {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > a {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #605063;
}
    
.navbar-default .navbar-nav > li > .dropdown-menu {
  background-image: none;
  background-color: #ffffff;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a {
  color: #605063;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:focus {
  color: #ffffff;
  background-image: none;
  background-color: #9ccceb;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > .divider {
  background-image: none;
  background-color: #ffffff;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: #605063;
  background-image: none;
  background-color: #9ccceb;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  color: #605063;
  background-image: none;
  background-color: #9ccceb;
}
.navbar-default .navbar-toggle {
  border-color: #9ccceb;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-image: none;
  background-color: #9ccceb;
}
.navbar-default .navbar-toggle .icon-bar {
  background-image: none;
  background-color: #ffffff;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #ffffff;
}
.navbar-default .navbar-link {
  color: #ffffff;
}
.navbar-default .navbar-link:hover {
  color: #605063;
}

.navbar-form {
    border: none !important;   
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #605063;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #605063;
  }

  .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #605063;
    background-image: none;
    background-color: #9ccceb;
  }
}

.navbar-default .navbar-nav > li > a.img-nav-item {
  padding: 8px;
}

.navbar-center {
    display: inline-block;
}

.navbar-brand {
    padding: 5px;
    margin: 0;
}

.navbar-brand img {
    height: 100%;
    vertical-align: middle;
}

.nav.nav-sidebar {
    padding: 15px;
}

#menu-small>li>a {
    position: relative;
    display: block;
    padding: 10px 15px;
    text-shadow: 0 1px 0 rgba(255,255,255,.25)
}

#menu-small>li>a:link, #menu-small>li>a:visited {
    color: #ffffff;
    text-decoration: none;   
}

#menu-small>li>a:hover, #menu-small>li>a:active {
    text-decoration: none;
    color: #605063;
}

/* BOOTSTRAP OVERRIDES */
/*
.input-group-addon {
    background-color: #605063;   
}
*/

.navbar-collapse {
    max-height: 100%;
}

.navbar-nav {
    margin: 0;
}


/* BUTTONS */

.form-custom-white {
    background: white;
    border: 2px solid white;
    color: #605063;
    border-radius: 30px; 
    -moz-border-radius: 30px; 
    -webkit-border-radius: 30px; 
    height: 100%;
}

.btn-custom-white {
    background: none;
    border: 2px solid white;
    color: white;
    border-radius: 10px; 
    -moz-border-radius: 10px; 
    -webkit-border-radius: 10px;
}

.btn-custom-blue {
    background: #ccdee0;
    color: #605063;
    border-bottom: 4px solid #ccc;
    border-radius: 10px;
    -moz-border-radius: 10px; 
    -webkit-border-radius: 10px; 
}

.btn .wide {
    width: 100%;
}

/* ------------------------------------------------- */
/* --------------------- FORMS --------------------- */
/* ------------------------------------------------- */
.jumbotron {
    position: relative;
    background: #000 url("/static/images/hero-bg.jpg") center center;
    width: 100%;
    height: 560px;
    background-size: cover;
    overflow: hidden;
    color: #FFFFFF;
    margin: 0;
}

.splash-text {
    overflow:hidden;
    display:inline-block; 
    padding:10px;
    font-weight:bold;
    font-size:6.2em;
/*    text-shadow: 0 0 1px #FFFFFF;*/
}

.splash-signup {
    border-top: 1px solid #ccc;
    position: relative;
/*    background-color: #ccdee0;*/
    width: 100%;
    height: 300px;
    background-size: cover;
    overflow: hidden;
}

.jumbotron-convention {
    height: 315px;
    background: #000 url("/static/images/banner-sakura.jpg");
    background-size: cover;
    border: 1px solid #ccc;
}

.sidebar {
    height: 100%;
}

.main-container {
    padding: 10px;   
}

/* -------------------------------------------- */
/* ----------------- WRAPPERS ----------------- */
/* -------------------------------------------- */
.title-wrapper {
    margin-bottom: 30px;   
}

.splash-section-wrapper {
    margin: 100px 0px;
}

.sidebar-wrapper {
    padding-top: 20px;
    margin: 20px 20px 20px 0px;
    
/*    margin: 20px;*/
/*    padding: 10px 15px;*/
}

.border-wrapper {
    border: 1px solid #ccc;
    border-radius: 10px; 
    -moz-border-radius: 10px; 
    -webkit-border-radius: 10px;
    background-color: #ffffff;
}

.section-wrapper {
    margin: 20px 0px;
    padding: 20px 30px;
}

.my-section-wrapper {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 3%;
    padding: 20px;
}

.form-wrapper {
    padding: 30px 50px;
    margin-top: 70px;
    margin-bottom: 70px;
    background-color: #ffffff;
}

.reg-form-wrapper {
    margin-left: 35%;
    margin-right: 35%;
}

.item-fit {
    max-width: 100%;
    max-height: 100%;
}

.edit-review-wrapper {
    height: 400px;   
    width: 100%;
    position: relative;
    display: inline-block;
}

.convention-preview-wrapper {
    margin: 5px;
    height: 80px;
    display: inline-block;
    background-color: #ffffff;
}

.canvas-wrapper {
    display: inline-block;
    float: left;
}

.graph-legend {
    display: inline-block;   
}

/* ------------------------------------------------- */
/* ----------------- MY CONVENTIONS ---------------- */
/* ------------------------------------------------- */

.convention-preview-wrapper {
    margin-top: 20px;
    margin-bottom: 20px;
}

.convention-preview-date {
    width: 20%; 
    padding: 10px;
    float: left;
    border-right: 1px solid #ccc;
}

.convention-preview-date p {
    font-size: 25px;
/*    text-align: center;*/
    font-weight: bold;
}

.convention-preview-date p span {
    font-size: 15px;
    text-transform: uppercase;
}

.convention-preview-info {
    padding: 10px;
    width: 80%;
    float: right;
}


/* ----------------------------------------------- */
/* ----------------- STAR RATING ----------------- */
/* ----------------------------------------------- */
.star-ratings-outer {
  background: url("/static/images/stars.png") repeat-x;
  font-size: 0;
  height: 21px;
  line-height: 0;
  overflow: hidden;
  text-indent: -999em;
  width: 110px;
}
.star-ratings-inner {
    background: url("/static/images/stars.png") repeat-x;
    background-position: 0 100%;
    float: left;
    height: 21px;
    display:block;
}

.star-rating {
  font-size: 0;
  white-space: nowrap;
  display: inline-block;
  width: 110px;
  height: 21px;
  overflow: hidden;
  position: relative;
  background: url("/static/images/stars.png");
/*  background-size: contain;*/
}
.star-rating i {
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 20%;
  z-index: 1;
  background: url("/static/images/stars.png");
    background-position: 0 100%;
/*  background-size: contain;*/
}
.star-rating input {
  -moz-appearance: none;
  -webkit-appearance: none;
  opacity: 0;
  display: inline-block;
  width: 20%;
  height: 100%;
  margin: 0;
  padding: 0;
  z-index: 2;
  position: relative;
}
.star-rating input:hover + i,
.star-rating input:checked + i {
  opacity: 1;
}
.star-rating i ~ i {
  width: 40%;
}
.star-rating i ~ i ~ i {
  width: 60%;
}
.star-rating i ~ i ~ i ~ i {
  width: 80%;
}
.star-rating i ~ i ~ i ~ i ~ i {
  width: 100%;
}
.choice {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
  padding: 20px;
  display: block;
}

/* ----------------------------------------------- */
/* --------------- CONVENTION PAGE --------------- */
/* ----------------------------------------------- */
.con-header {
    width: 100%;
    position: relative;
    border: 1px solid #ccc;
    border-top: none;
    display: inline-block;
    padding-left: 15px;
    padding-right: 15px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    -moz-border-bottom-left-radius: 10px; 
    -moz-border-bottom-right-radius: 10px; 
    -webkit-border-bottom-left-radius: 10px;
    -webkit-border-bottom-right-radius: 10px;
    background-color: #ffffff;
}

.con-header .cell {
    padding: 10px;
    margin: 0 auto;
    float: right;
    height: 76px;
}

.con-header .main-info {
    height: 76px;
    padding-top: 5px;
    float: left !important;
    border: none !important;
}

.review-entry {
    width: 100%;
    position: relative;
    display: inline-block;
}

.side-entry {
/*    width: 20%;*/
    float: left;
    padding-top: 30px;
    margin-right: 10px;
}

.main-entry {
    width: 80%;
/*    min-width: 200px;*/
    float: right;
}

.main-entry-text {
    padding-top: 5px;
    margin-right: 30px;
}

.doughnut-legend {
    list-style-type: none;   
}

.doughnut-legend li span {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-right: 5px;
    border-radius: 2px;
    -moz-border-radius: 2px; 
    -webkit-border-radius: 2px;
}

.chart-wrapper {
    min-width: 300px;
    height: 250px;
}

.chart-display {
    float: left;
    margin-right: 10px;
}

/* ----------------------------------------------- */
/* --------------- INVENTORY PAGE ---------------- */
/* ----------------------------------------------- */
#item-form {
    display: none;
}

/* Datepicker */
.ui-datepicker {
	background-color: #fff;
	border: 1px solid #66AFE9;
	border-radius: 4px;
	box-shadow: 0 0 8px rgba(102,175,233,.6);
	display: none;
	margin-top: 4px;
	padding: 10px;
	width: 240px;
}
.ui-datepicker a,
.ui-datepicker a:hover {
	text-decoration: none;
}
.ui-datepicker a:hover,
.ui-datepicker td:hover a {
	color: #2A6496;
	-webkit-transition: color 0.1s ease-in-out;
	   -moz-transition: color 0.1s ease-in-out;
	     -o-transition: color 0.1s ease-in-out;
	        transition: color 0.1s ease-in-out;
}
.ui-datepicker .ui-datepicker-header {
	margin-bottom: 4px;
	text-align: center;
}
.ui-datepicker .ui-datepicker-title {
	font-weight: 700;
}
.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-next {
	cursor: default;
	font-family: 'Glyphicons Halflings';
	-webkit-font-smoothing: antialiased;
	font-style: normal;
	font-weight: normal;
	height: 20px;
	line-height: 1;
	margin-top: 2px;
	width: 30px;
}
.ui-datepicker .ui-datepicker-prev {
	float: left;
	text-align: left;
}
.ui-datepicker .ui-datepicker-next {
	float: right;
	text-align: right;
}
.ui-datepicker .ui-datepicker-prev:before {
	content: "\e079";
}
.ui-datepicker .ui-datepicker-next:before {
	content: "\e080";
}
.ui-datepicker .ui-icon {
	display: none;
}
.ui-datepicker .ui-datepicker-calendar {
  table-layout: fixed;
	width: 100%;
}
.ui-datepicker .ui-datepicker-calendar th,
.ui-datepicker .ui-datepicker-calendar td {
	text-align: center;
	padding: 4px 0;
}
.ui-datepicker .ui-datepicker-calendar td {
	border-radius: 4px;
	-webkit-transition: background-color 0.1s ease-in-out, color 0.1s ease-in-out;
	   -moz-transition: background-color 0.1s ease-in-out, color 0.1s ease-in-out;
	     -o-transition: background-color 0.1s ease-in-out, color 0.1s ease-in-out;
	        transition: background-color 0.1s ease-in-out, color 0.1s ease-in-out;
}
.ui-datepicker .ui-datepicker-calendar td:hover {
	background-color: #eee;
	cursor: pointer;
}
.ui-datepicker .ui-datepicker-calendar td a {
	text-decoration: none;
}
.ui-datepicker .ui-datepicker-current-day {
	background-color: #4289cc;
}
.ui-datepicker .ui-datepicker-current-day a {
	color: #fff
}
.ui-datepicker .ui-datepicker-calendar .ui-datepicker-unselectable:hover {
	background-color: #fff;
	cursor: default;
}

/* Autocomplete */

.ui-menu .ui-menu-item:hover {
    background-color: #ccdee0;
    cursor: default;
}

.ui-helper-hidden-accessible {
    display:none; 
}

/* Bootstrap styles for Jquery UI */
 .ui-autocomplete {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    float: left;
    display: none;
    min-width: 160px;   
    padding: 4px 2px;
    margin: 0 0 10px 25px;
    list-style: none;
    background-color: #ffffff;
    border-color: #ccc;
    border-color: rgba(0, 0, 0, 0.2);
    border-style: solid;
    border-width: 1px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
    *border-right-width: 2px;
    *border-bottom-width: 2px;
}

.ui-menu-item > a.ui-corner-all {
    display: block;
    padding: 3px 15px;
    clear: both;
    font-weight: normal;
    line-height: 18px;
    color: #555555;
    white-space: nowrap;
    text-decoration: none;
}

.ui-state-hover, .ui-state-active {
    color: #ffffff;
    text-decoration: none;
    background-color: #0088cc;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    background-image: none;
}

.about-wrapper {
    margin-left: 15%;
    margin-right: 15%;
}

/* ----------------- Screen Resize ----------------- */
@media screen and (max-width: 1199px) {
       .my-section-wrapper {
            margin-left: 8%;   
       }
}

@media screen and (max-width: 991px) {
    .sidebar {
        display: none;
    }
    
    .my-section-wrapper {
        margin-left: 0%;
    }
    
    .reg-form-wrapper {
        margin-left: 20%;
        margin-right: 20%;
    }
    
    .main-entry {
        width: 100%;   
    }

}

@media screen and (max-width: 767px) {
    .reg-form-wrapper {
        margin-left: 5%;
        margin-right: 5%;
    }
    
    .navbar-form {
        margin: 0px !important;
    }
    
    .splash-text {
        font-size: 60px;
    }
    
    #menu-large {
        height: 0px;
        overflow: hidden;
    }
}

@media screen and (min-width: 768px) {
    .navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
        margin-left: 0px !important;
    }

    #menu-small {
        height: 0px !important;
        width: 0px;
        overflow: hidden !important;
    }
    
}
